<div class="contenido-anular" *ngIf="dataAnularCita?.detalleCitaSeleccionada">
    <div class="datos-paciente">
      <div class="item size-half">
        <p><b>RUT:</b> {{ dataAnularCita?.paciente.numeroDocumentoFormateado }}</p>
      </div>
      <div class="item size-half-noborder">
        <p><b>Nombre paciente:</b> {{ dataAnularCita?.paciente.nombreCompleto }}</p>
      </div>
      <div class="item size-half">
        <p><b>Fecha de reserva:</b> {{ dataAnularCita?.dataBusqueda.fechaCita | date:'dd/MM/yyyy' }}</p>
      </div>
      <div class="item size-half-noborder">
        <p><b>Hora:</b> {{ dataAnularCita?.detalleCitaSeleccionada.FechaHoraDesde | date:'HH:mm' }} Hrs.</p>
      </div>
      <div class="item size-half">
        <p><b>Profesional:</b>  <span> {{ utils.matchRecursoTrue(dataAnularCita?.detalleCitaSeleccionada.RecursosCita) }}</span></p>
      </div>
      <div class="item size-half-noborder">
        <p><b>Especialidad:</b><span> {{ dataAnularCita?.detalleCitaSeleccionada.Servicio.NombreEspecialidad }} - 
          {{ dataAnularCita?.detalleCitaSeleccionada.Servicio.Nombre }}
        </span></p>
      </div>
      <div class="item size-half">
        <p><b>Centro:</b> {{ dataAnularCita?.detalleCitaSeleccionada.Centro.Nombre }}</p>
      </div>
      <div class="item size-half-noborder">
        <p><b>Ubicación:</b> 
            {{ dataAnularCita?.detalleCitaSeleccionada?.Centro?.Direccion?.Calle }}, 
            {{ dataAnularCita?.detalleCitaSeleccionada?.Centro?.Direccion?.NumeroCalle }}, 
            {{ dataAnularCita?.detalleCitaSeleccionada?.Centro?.Direccion?.Localidad }}.</p>
      </div>
    </div>
</div>