<div class="contenido-anular">
    <div class="datos-paciente">
      <div class="item size-1">
        <p><b>Nombre paciente:</b> Camilo Inostroza</p>
      </div>
      <div class="item size-2">
        <p><b>RUT:</b> 13.245.677-K</p>
      </div>
      <div class="item size-1">
        <p><b>Fecha de reserva:</b> 23-08-2020</p>
      </div>
      <div class="item size-3">
        <p><b>Hora:</b> 17:40 Hrs</p>
      </div>
      <div class="item size-4">
        <p><b>Profesional:</b>  <span>Jose Antonio Castro</span></p>
      </div>
      <div class="item size-1">
        <p><b>Centro:</b> Edificio Médico Alcántara</p>
      </div>
      <div class="item size-2">
        <p><b>Ubicación:</b> Av. Apoquindo, 3990, Las Condes,  Región Metropolitana.</p>
      </div>
    </div>

    <div class="card-horas-bottom">
      <a href="#" class="anular-hora">ANULAR</a>
      <a href="#" class="volver">
        <img src="images/flecha-left.svg" alt=""> VOLVER
      </a>
    </div>
</div>