<mat-dialog-content>
    <div class="cntmodal" *ngIf="!cita.fromReserva">
        <h3>¿Deseas anular la hora reservada con el Dr(a). {{ utils.matchRecursoTrue(cita?.RecursosCita) }} 
            el {{ cita?.FechaHoraDesde | date:'longDate' }} a las {{ cita?.FechaHoraDesde | date:'HH:mm' }} hrs. ?</h3>
        <div class="btns" style="margin-top: 15px; text-align: center;">
            <button mat-stroked-button class="btn-azul cus-pad" style="margin-right: 15px;background-color: red;" (click)="actionAnular(true)">
                <mat-icon class="icon-cus-pad">check</mat-icon>CONFIRMAR
              </button>
            <button mat-stroked-button class="btn-blanco cus-pad" (click)="actionAnular(false)">
              <mat-icon class="icon-cus-pad">close</mat-icon>CANCELAR
            </button>
          </div>
    </div>
    <div class="cntmodal" *ngIf="cita.fromReserva">
      <h3>¿Deseas anular la hora reservada con el Dr(a). {{ cita.nombreProfesional }} 
          el {{ cita.fechaHora | toLocalScl: cita.compensacion : 'DD/MM/YYYY' }} a las 
             {{ cita.fechaHora | toLocalScl: cita.compensacion : 'HH:mm' }} hrs. ?</h3>
      <div class="btns" style="margin-top: 15px; text-align: center;">
          <button mat-stroked-button class="btn-azul cus-pad" style="margin-right: 15px;background-color: red;" (click)="actionAnular(true)">
              <mat-icon class="icon-cus-pad">check</mat-icon>ANULAR
            </button>
          <button mat-stroked-button class="btn-blanco cus-pad" (click)="actionAnular(false)">
            <mat-icon class="icon-cus-pad">close</mat-icon>CANCELAR
          </button>
        </div>
  </div>
</mat-dialog-content>
