.cntmodal{
    padding:35px 25px;
}

h3{
    color: #32588b;
    font-weight: bold;
    text-align: center;
    margin-bottom: 41px;
    font-size: 23px;
}

.btn-blanco{
    border: 2px solid #2A7DE1;
    color:#2A7DE1;
    font-weight: bold;;
}

.btn-azul:hover{
    background:#2A7DE1 !important;
    color:#fff !important;
}