<header class="header-home">
	<div class="head-top">
	<div class="wrap">
		<div class="logo">
			<img src="/assets/images/logo.png" />
		</div>
		<div class="w-user" style="display: none !important">
			<span><i class="fa fa-user" style="font-size: 13px;"></i></span>
			<p><b>Bienvenido</b> Cristián Bustamante</p>
		</div>
		<div class="datos-head">
			<div class="redes-head">
				<a href="#"><img src="/assets/images/rs1.png" /></a>
				<a href="#"><img src="/assets/images/rs2.png" /></a>
				<a href="#"><img src="/assets/images/rs3.png" /></a>
				<a href="#"><img src="/assets/images/rs4.png" /></a>
				<a href="#"><img src="/assets/images/rs5.png" /></a>
				<a href="#"><img src="/assets/images/rs6.png" /></a>
			</div>
			<div class="fonos-head">
				<div class="item-fono">
					Mesa Central
					<span>22 676 7000</span>
				</div>
				<div class="item-fono">
					Urgencia
					<span>22 754 8700</span>
				</div>
				<div class="item-fono">
					Clínica San Carlos
					<span>22 754 8700</span>
				</div>
			</div>
		</div>
		<div class="botones-mobile">
			<a href="#" class="ic-medico"><img src="/assets/images/ic-medico2.png" /></a>
			<a href="#" class="lupa"><i class="fa fa-search"></i></a>
			<a href="#" class="btn-menu"><i class="fa fa-bars"></i></a>
			<a href="#" class="cerrar-menu"><i class="fa fa-times"></i></a>
		</div>
		<div class="clear"></div>
	</div>
	</div>
	<div class="barra-menu">
		<div class="wrap">
			<div class="logo-fixed">
				<img src="/assets/images/logo2.png" />
			</div>
			<nav>
				<ul>
					<li><a href="#">INFORMACIÓN<br />AL PACIENTE <i class="fa fa-chevron-down"></i></a>
						<ul class="sub-menu">
							<li><a href="#">Nuestra red</a></li>
							<li><a href="#">Indicadores</a></li>
							<li><a href="#">Otros</a></li>
						</ul>
					</li>
					<li><a href="#">ESPECIALIDADES<br />Y SERVICIOS <i class="fa fa-chevron-down"></i></a>
						<ul class="sub-menu">
							<li><a href="#">Especialidades <i class="fa fa-chevron-right"></i></a>
								<div class="mega-menu">
									<ul>
										<li><a href="#">Infectología </a></li>
										<li><a href="#">Cardiología</a></li>
										<li><a href="#">Pediatría</a></li>
										<li><a href="#">Endocrinología</a></li>
										<li><a href="#g">Neurología</a></li>
										<li><a href="#">Urología</a></li>
										<li><a href="#">Genética clínica</a></li>
										<li><a href="#">Traumatología</a></li>
										<li><a href="#">Broncopulmonar</a></li>
										<li><a href="#">Nefrología</a></li>
									</ul>
									<ul>
										<li><a href="#">Nutrición, diabetes y metabolismo</a></li>
										<li><a href="#">Neurocirugía</a></li>
										<li><a href="#">Cirugía</a></li>
										<li><a href="#">Dermatología</a></li>
										<li><a href="#">Otorrinolaringología</a></li>
										<li><a href="#">Medicina interna</a></li>
										<li><a href="#">Ginecología</a></li>
										<li><a href="#">Obstetricia</a></li>
										<li><a href="#">Anestesiología</a></li>
										<li><a href="#">Gastroenterología</a></li>
										<li><a href="#">Geriatría</a></li>
									</ul>
									<ul>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Hematología</a></li>
										<li><a href="#">Medicina familiar</a></li>
										<li><a href="#">Neurocirugía</a></li>
										<li><a href="#">Odontología</a></li>
										<li><a href="#">Oftalmología </a></li>
										<li><a href="#">Psiquiatría</a></li>
									</ul>
									<ul>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Fonoaudiología</a></li>
										<li><a href="#">Terapia ocupacional</a></li>
									</ul>
								</div>
							</li>
							<li><a href="#">Servicio <i class="fa fa-chevron-right"></i></a>
								<div class="mega-menu">
									<ul>
										<li><a href="#">Infectología </a></li>
										<li><a href="#">Cardiología</a></li>
										<li><a href="#">Pediatría</a></li>
										<li><a href="#">Endocrinología</a></li>
										<li><a href="#">Neurología</a></li>
										<li><a href="#">Urología</a></li>
										<li><a href="#">Genética clínica</a></li>
										<li><a href="#">Traumatología</a></li>
										<li><a href="#">Broncopulmonar</a></li>
										<li><a href="#">Nefrología</a></li>
									</ul>
									<ul>
										<li><a href="#">Nutrición, diabetes y metabolismo</a></li>
										<li><a href="#">Neurocirugía</a></li>
										<li><a href="#">Cirugía</a></li>
										<li><a href="#">Dermatología</a></li>
										<li><a href="#">Otorrinolaringología</a></li>
										<li><a href="#">Medicina interna</a></li>
										<li><a href="#">Ginecología</a></li>
										<li><a href="#">Obstetricia</a></li>
										<li><a href="#">Anestesiología</a></li>
										<li><a href="#">Gastroenterología</a></li>
										<li><a href="#">Geriatría</a></li>
									</ul>
									<ul>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Hematología</a></li>
										<li><a href="#">Medicina familiar</a></li>
										<li><a href="#">Neurocirugía</a></li>
										<li><a href="#">Odontología</a></li>
										<li><a href="#">Oftalmología </a></li>
										<li><a href="#">Psiquiatría</a></li>
									</ul>
									<ul>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Fonoaudiología</a></li>
										<li><a href="#">Terapia ocupacional</a></li>
									</ul>
								</div>
							</li>
							<li><a href="#">Urgencia <i class="fa fa-chevron-right"></i></a>
								<div class="mega-menu">
									<ul>
										<li><a href="#">Infectología </a></li>
										<li><a href="#">Cardiología</a></li>
										<li><a href="#">Pediatría</a></li>
										<li><a href="#">Endocrinología</a></li>
										<li><a href="#">Neurología</a></li>
										<li><a href="#">Urología</a></li>
										<li><a href="#">Genética clínica</a></li>
										<li><a href="#">Traumatología</a></li>
										<li><a href="#">Broncopulmonar</a></li>
										<li><a href="#">Nefrología</a></li>
									</ul>
									<ul>
										<li><a href="#">Nutrición, diabetes y metabolismo</a></li>
										<li><a href="#">Neurocirugía</a></li>
										<li><a href="#">Cirugía</a></li>
										<li><a href="#">Dermatología</a></li>
										<li><a href="#">Otorrinolaringología</a></li>
										<li><a href="#">Medicina interna</a></li>
										<li><a href="#">Ginecología</a></li>
										<li><a href="#">Obstetricia</a></li>
										<li><a href="#">Anestesiología</a></li>
										<li><a href="#">Gastroenterología</a></li>
										<li><a href="#">Geriatría</a></li>
									</ul>
									<ul>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Hematología</a></li>
										<li><a href="#">Medicina familiar</a></li>
										<li><a href="#">Neurocirugía</a></li>
										<li><a href="#">Odontología</a></li>
										<li><a href="#">Oftalmología </a></li>
										<li><a href="#">Psiquiatría</a></li>
									</ul>
									<ul>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Fonoaudiología</a></li>
										<li><a href="#">Terapia ocupacional</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
					<li><a href="#">EXÁMENES Y<br />PROCEDIMIENTOS <i class="fa fa-chevron-down"></i></a>
						<ul class="sub-menu">
							<li><a href="#">Laboratorio clínico</a></li>
							<li><a href="#">Diagnóstico por imágenes</a></li>
						</ul>
					</li>
					<li><a href="#">RED DE<br />ATENCIÓN <i class="fa fa-chevron-down"></i></a>
						<ul class="sub-menu">
							<li><a href="#">Clínicas</a></li>
							<li><a href="#">Hospitales</a></li>
							<li><a href="#">Centros</a></li>
						</ul>
					</li>
					<li><a href="#">PLANES<br />DE SALUD</a></li>
					<li><a href="#">BLOG<br />SALUD UC</a></li>
				</ul>
			</nav>
			<div class="btns-barra-menu">
				<div class="btn-atencion">
					<a href="#" class="atencion">ATENCIÓN EN LÍNEA <i class="fa fa-chevron-down"></i></a>
					<div class="menu-atencion">
						<a href="#">
							<div class="item-atencion">
								<div class="img-at">
									<img src="/assets/images/at1.png" />
								</div>
								<p>PIDE TU<br />PRESUPUESTO</p>
							</div>
						</a>
						<a href="#">
							<div class="item-atencion">
								<div class="img-at">
									<img src="/assets/images/at2.png" />
								</div>
								<p>HAZ TU<br />PRE INGRESO</p>
							</div>
						</a>
						<a href="#">
							<div class="item-atencion">
								<div class="img-at">
									<img src="/assets/images/at3.png" />
								</div>
								<p>RESULTADOS<br />LABORATORIO</p>
							</div>
						</a>
						<a href="#">
							<div class="item-atencion">
								<div class="img-at">
									<img src="/assets/images/at4.png" />
								</div>
								<p>RESULTADOS<br />IMÁGENES</p>
							</div>
						</a>
						<a href="#">
							<div class="item-atencion">
								<div class="img-at">
									<img src="/assets/images/at5.png" />
								</div>
								<p>PAGA TU<br />CUENTA</p>
							</div>
						</a>
						<a href="#">
							<div class="item-atencion">
								<div class="img-at">
									<img src="/assets/images/at6.png" />
								</div>
								<p>CONTRATA TU<br />PLAN DE SALUD</p>
							</div>
						</a>
					</div>
				</div>
				<a href="#" class="ic-medico"><img src="/assets/images/ic-medico.png" /></a>
				<a href="#" class="lupa"><i class="fa fa-search"></i></a>
				<div class="botones-head">
					<a href="#" class="mi-pagina">MI PAGINA DE SALUD</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</header>

<div class="menu-mobile">
	<a href="#" class="cerrar-menu"><i class="fa fa-times"></i></a>
	<div class="clear"></div>
			<nav>
				<ul>
					<li><a href="#">INFORMACIÓN AL PACIENTE <i class="fa fa-chevron-down"></i></a>
						<ul class="sub-menu">
							<li><a href="#">Nuestra red</a></li>
							<li><a href="#">Indicadores</a></li>
							<li><a href="#">Otros</a></li>
						</ul>
					</li>
					<li><a href="#">ESPECIALIDADES Y SERVICIOS <i class="fa fa-chevron-down"></i></a>
						<ul class="sub-menu">
							<li><a href="#">Especialidades <i class="fa fa-chevron-right"></i></a>
								<div class="mega-menu">
									<ul>
										<li><a href="#">Infectología </a></li>
										<li><a href="#">Cardiología</a></li>
										<li><a href="#">Pediatría</a></li>
										<li><a href="#">Endocrinología</a></li>
										<li><a href="#">Neurología</a></li>
										<li><a href="#">Urología</a></li>
										<li><a href="#">Genética clínica</a></li>
										<li><a href="#">Traumatología</a></li>
										<li><a href="#">Broncopulmonar</a></li>
										<li><a href="#">Nefrología</a></li>
										<li><a href="#">Nutrición, diabetes y metabolismo</a></li>
										<li><a href="#">Neurocirugía</a></li>
										<li><a href="#">Cirugía</a></li>
										<li><a href="#">Dermatología</a></li>
										<li><a href="#">Otorrinolaringología</a></li>
										<li><a href="#">Medicina interna</a></li>
										<li><a href="#">Ginecología</a></li>
									</ul>
									<ul>
										<li><a href="#">Obstetricia</a></li>
										<li><a href="#">Anestesiología</a></li>
										<li><a href="#">Gastroenterología</a></li>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Hematología</a></li>
										<li><a href="#">Medicina familiar</a></li>
										<li><a href="#">Neurocirugía</a></li>
										<li><a href="#">Odontología</a></li>
										<li><a href="#">Oftalmología </a></li>
										<li><a href="#">Psiquiatría</a></li>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Fonoaudiología</a></li>
										<li><a href="#">Terapia ocupacional</a></li>
									</ul>
								</div>
							</li>
							<li><a href="#">Servicio <i class="fa fa-chevron-right"></i></a>
								<div class="mega-menu">
									<ul>
										<li><a href="#">Infectología </a></li>
										<li><a href="#">Cardiología</a></li>
										<li><a href="#">Pediatría</a></li>
										<li><a href="#">Endocrinología</a></li>
										<li><a href="#">Neurología</a></li>
										<li><a href="#">Urología</a></li>
										<li><a href="#">Genética clínica</a></li>
										<li><a href="#">Traumatología</a></li>
										<li><a href="#">Broncopulmonar</a></li>
										<li><a href="#">Nefrología</a></li>
										<li><a href="#">Nutrición, diabetes y metabolismo</a></li>
										<li><a href="#">Neurocirugía</a></li>
										<li><a href="#">Cirugía</a></li>
										<li><a href="#">Dermatología</a></li>
										<li><a href="#">Otorrinolaringología</a></li>
										<li><a href="#">Medicina interna</a></li>
										<li><a href="#">Ginecología</a></li>
									</ul>
									<ul>
										<li><a href="#">Obstetricia</a></li>
										<li><a href="#">Anestesiología</a></li>
										<li><a href="#">Gastroenterología</a></li>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Hematología</a></li>
										<li><a href="#">Medicina familiar</a></li>
										<li><a href="#">Neurocirugía</a></li>
										<li><a href="#">Odontología</a></li>
										<li><a href="#">Oftalmología </a></li>
										<li><a href="#">Psiquiatría</a></li>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Fonoaudiología</a></li>
										<li><a href="#">Terapia ocupacional</a></li>
									</ul>
								</div>
							</li>
							<li><a href="#">Urgencia <i class="fa fa-chevron-right"></i></a>
								<div class="mega-menu">
									<ul>
										<li><a href="#">Infectología </a></li>
										<li><a href="#">Cardiología</a></li>
										<li><a href="#">Pediatría</a></li>
										<li><a href="#">Endocrinología</a></li>
										<li><a href="#">Neurología</a></li>
										<li><a href="#">Urología</a></li>
										<li><a href="#">Genética clínica</a></li>
										<li><a href="#">Traumatología</a></li>
										<li><a href="#">Broncopulmonar</a></li>
										<li><a href="#">Nefrología</a></li>
										<li><a href="#">Nutrición, diabetes y metabolismo</a></li>
										<li><a href="#">Neurocirugía</a></li>
										<li><a href="#">Cirugía</a></li>
										<li><a href="#">Dermatología</a></li>
										<li><a href="#">Otorrinolaringología</a></li>
										<li><a href="#">Medicina interna</a></li>
										<li><a href="#">Ginecología</a></li>
									</ul>
									<ul>
										<li><a href="#">Obstetricia</a></li>
										<li><a href="#">Anestesiología</a></li>
										<li><a href="#">Gastroenterología</a></li>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Hematología</a></li>
										<li><a href="#">Medicina familiar</a></li>
										<li><a href="#">Neurocirugía</a></li>
										<li><a href="#">Odontología</a></li>
										<li><a href="#">Oftalmología </a></li>
										<li><a href="#">Psiquiatría</a></li>
										<li><a href="#">Geriatría</a></li>
										<li><a href="#">Fonoaudiología</a></li>
										<li><a href="#">Terapia ocupacional</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
					<li><a href="#">EXÁMENES Y PROCEDIMIENTOS <i class="fa fa-chevron-down"></i></a>
						<ul class="sub-menu">
							<li><a href="#">Laboratorio clínico</a></li>
							<li><a href="#">Diagnóstico por imágenes</a></li>
						</ul>
					</li>
					<li><a href="#">RED DE ATENCIÓN <i class="fa fa-chevron-down"></i></a>
						<ul class="sub-menu">
							<li><a href="#">Clínicas</a></li>
							<li><a href="#">Hospitales</a></li>
							<li><a href="#">Centros</a></li>
						</ul>
					</li>
					<li><a href="#">PLANES DE SALUD</a></li>
					<li><a href="#">BLOG SALUD UC</a></li>
				</ul>
			</nav>

	<a href="#" class="mi-pagina">MI PAGINA DE SALUD</a>

	<div class="fonos-head">
		<div class="item-fono">
			Mesa Central
			<span>22 676 7000</span>
		</div>
		<div class="item-fono">
			Urgencia
			<span>22 754 8700</span>
		</div>
		<div class="item-fono">
			Clínica San Carlos
			<span>22 754 8700</span>
		</div>
	</div>

	<div class="redes-mobile">
		<a href="#"><img src="/assets/images/rs1.png" /></a>
		<a href="#"><img src="/assets/images/rs2.png" /></a>
		<a href="#"><img src="/assets/images/rs3.png" /></a>
		<a href="#"><img src="/assets/images/rs4.png" /></a>
		<a href="#"><img src="/assets/images/rs5.png" /></a>
		<a href="#"><img src="/assets/images/rs6.png" /></a>
	</div>
</div>
