.container-loader{position: fixed; top:0px; width: 100%; height:100%; z-index: 100000; cursor:not-allowed;}
.container-loader .pbar{width: 100%}
.headerItems {
    /*--HEADER--*/
    *{
        font-weight: 700;
    }
header{
    padding: 10px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
}
header .logo{
    display: inline-block;
    padding-top: 0px;
}


.botones-head{
    float: right;
    margin-top: 25px;
}
.botones-head a{
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
    width: auto;
    display: inline-block;
    height: auto;
    text-align: center;
    border-radius: 3px;
    vertical-align: top;
}
.botones-head a.mi-pagina{
    color:#2a7de1;
    border: 2px solid #2a7de1;
    transition:cubic-bezier(.77,0,.175,1) .3s;
}
.botones-head a.mi-pagina:hover{
    color:#fff;
    background: #2a7de1;
    text-decoration: none;
}
.botones-head a.reserva{
    background: #802e87;
    border: 2px solid #802e87;
    color:#fff;
    margin-left: 5px;
    transition:cubic-bezier(.77,0,.175,1) .3s;
}
.botones-head a.reserva:hover{
    text-decoration: none;
    background: #fff;
    color:#802e87;
}

.datos-head{
    float: right;
    display: inline-block;
    margin-right: 30px;
}
.datos-head .redes-head{
    text-align: right;
    margin-top: 0px;
}
.datos-head .redes-head a{
    display: inline-block;
}
.datos-head .redes-head a:hover{
    transform: rotate(360deg);
    text-decoration: none;
}
.datos-head .redes-head a img{
    width: 18px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition:cubic-bezier(.77,0,.175,1) 0.3s;
    opacity: 0.6;
}
.datos-head .redes-head a:hover img{
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      opacity: 1;
}
.datos-head .fonos-head{
    margin-top: 4px;
}
.datos-head .fonos-head .item-fono{
    font-size: 13px;
    color:#777777;
    font-weight: 300;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-left: 10px;
}
.datos-head .fonos-head .item-fono:first-child{
    margin-left: 0;
}
.datos-head .fonos-head .item-fono span{
    font-size: 16px;
    color: #2a7de1;
    font-weight: bold;
    display: block;
    margin-top: -3px;
}

.barra-menu{
    background-image: url('/assets/images/barra-menu.png');
    background-size: 100% 100%;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 99;
}
.barra-menu nav{
    display: inline-block;
}
.barra-menu nav ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.barra-menu nav ul li{
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    margin-right: 0px;
}
.barra-menu nav ul li a{
    font-size:11px;
    color:#fff;
    text-transform: uppercase;
    display: block;
    transition: all 0.3s ease;
    padding: 12px 12px;
}
.barra-menu nav ul li a i{}

.barra-menu nav ul li:hover a{
    background: #32588b;
    text-decoration: none;
}

.barra-menu nav ul li > ul.sub-menu{
    position: absolute;
    background: #32588b;
    padding: 30px 15px 40px;
    min-width: 180px;
    display: none;
}
.barra-menu nav ul li:hover ul.sub-menu{
    display: block;
}
.barra-menu nav ul li > ul.sub-menu li{
    display: block;
    position: relative;
    height: auto;
}
.barra-menu nav ul li > ul.sub-menu li a{
    font-size: 14px;
    color: #fff;
    text-transform: none;
    padding: 9px 10px;
    transition: all 0.3s ease;
}
.barra-menu nav ul li > ul.sub-menu li a:hover{
    color:#95c5ff;
}
.barra-menu nav ul li > ul.sub-menu li a i{
    font-size: 9px;
    margin-left: 5px;
}

.mega-menu{
    padding: 30px 0 30px 10px;
    position: absolute;
    left: 100%;
    top: -30px;
    background: #32588b;
    width: 700px;
    display: none;
}
.barra-menu nav ul li > ul.sub-menu li:hover .mega-menu{
    display: block;
}
.mega-menu ul{
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #4474b4;
    padding: 0 15px;
    width: 100%;
}

.mega-menu ul:last-child{
    border: none;
}
.mega-menu ul li{
    display: inline-block !important;
    width: 30%;
    height: 40px;
}
.menu-red-de-atencion .mega-menu{
  width: 250px;
}
.menu-red-de-atencion .mega-menu ul li{
  display: block !important;
  width: 100%;
}
.mega-menu ul li a{
    transition: all 0.3s ease;
    padding-bottom: 5px;
}
.barra-menu nav ul li > ul.sub-menu li > .mega-menu ul li a:hover{ color:#95c5ff; }

.btns-barra-menu{
    float: right;
    margin-top: 0px;
    position: relative;
}
.btns-barra-menu a{
    font-size: 12px;
    color:#fff;
    font-weight: 600;
    margin-left: 10px;
}
.btns-barra-menu a.atencion{
    margin-left: 0;
    padding: 18px 10px;
    transition: all 0.3s ease;
    display: block;
}
.btns-barra-menu a.atencion:hover{
    background: #32588b;
    text-decoration: none;
}
.btns-barra-menu a.atencion i{
    font-size: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.btns-barra-menu a.ic-medico{
    font-size: 24px;
}
.btns-barra-menu a.lupa{
    font-size: 20px;
    height: 53px;
    padding-right: 10px;
    margin-top: 0;
    padding-left: 10px;
    margin-left: 5px;
    vertical-align: top;
    padding-top: 10px;
    display: inline-block;
}
.btns-barra-menu a.lupa.activo{
    background: #2f5987;
}

.btns-barra-menu .btn-atencion{
    display: inline-block;
}
.btns-barra-menu .btn-atencion:hover a.atencion{
    background: #32588b;
    text-decoration: none;
}

.menu-atencion {
    background: #32588b;
    padding: 30px 10px;
    position: absolute;
    width: 610px;
    margin-left: -40px;
    top: 53px;
    text-align: center;
    display: none;
    right: 0px;
}
.btns-barra-menu .btn-atencion:hover .menu-atencion{
    display: block;
}

.menu-atencion a{
    display: inline-block;
    padding: 0 15px;
    width: 16%;
    margin-left: 0;
}
.menu-atencion a:hover{
    text-decoration: none;
    color:#95c5ff;
}
.menu-atencion .item-atencion{
    text-align: center;
}
.menu-atencion .item-atencion .img-at{
    margin-bottom: 10px;
}
.menu-atencion .item-atencion .img-at img{
    transition: all 0.3s ease;
}
.menu-atencion .item-atencion p{
    font-size: 9px;
    line-height: 12px;
    color:#fff;
    transition: all 0.3s ease;
}
.menu-atencion a:hover .item-atencion p{
    color:#95c5ff;
}
.menu-atencion a:hover .item-atencion .img-at img{
    transform: scale(1.1);
}

header.fixed{
    position: fixed;
    top: 0;
    margin-top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 1000;
}
.head-top{
    transition:cubic-bezier(.77,0,.175,1) .5s;
    height: 85px;
}
header.fixed .head-top{
    height: 0;
    display: none;
}
.logo-fixed{
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    display: inline-block;
    margin-bottom: -20px;
    vertical-align: middle;
}
header.fixed .logo-fixed{
    width: 120px;
    height: auto;
    opacity: 1;
    visibility: visible;
    padding-top: 4px;
}
header.fixed .logo-fixed img{
    width: 100%;
}

.btns-barra-menu .botones-head{
    display: none;
    margin-top: 0;
}
header.fixed .btns-barra-menu .botones-head{
    display: block;
    padding-top: 7px;
}
header.fixed .btns-barra-menu .botones-head a{
    font-size: 11px;
    padding: 10px 15px;
}
header.fixed .botones-head a.mi-pagina{
    border-color: #fff;
    color:#fff;
}
header.fixed .botones-head a.reserva{
    border-color: #fff;
    color:#802e87;
    background: #fff;
}
header.fixed .barra-menu nav ul li a{
    font-size: 9px;
    line-height: 13px;
    padding: 13px 8px;
}

header.fixed .btns-barra-menu a.ic-medico{
    display: none;
}
header.fixed .btns-barra-menu a.lupa{
    display: none;
}

header.fixed .barra-menu nav > ul > li:nth-child(5),
header.fixed .barra-menu nav > ul > li:nth-child(6){
  display: none;
}

.botones-mobile{
    display: none;
}
/*--FIN HEADER--*/


.menu-mobile{
    display: none;
}

.buscador{
    position: absolute;
    top: -300px;
    right: 40px;
    max-width: 100%;
    width: 410px;
    height: 0%;
    background: #2f5987;
    z-index: 10;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -webkit-box-align:center;
    justify-content:center;
    text-align: center;
    transition:cubic-bezier(.77,0,.175,1) .2s;
    opacity: 0;
    visibility: hidden;
}
.buscador.visible{
    height: 82px;
    top: 149px;
    opacity: 1;
    visibility: visible;
}
.buscador .wrap{
    padding: 20px;
}
.buscador > div{
    max-width: 100%;
}
.cerrar-buscador{
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color:#455a64;
    transition:cubic-bezier(.77,0,.175,1) .5s;
}
.cerrar-buscador:hover{
    transform: rotate(360deg);
}
.buscador h4{
    font-size: 20px;
    font-weight: bold;
    color:#455a64;
    letter-spacing: 3px;
    margin: 0 0 15px;
}
.buscador input{
    height: 43px;
    border-radius: 4px;
    border: 1px solid #455a64;
    width: 260px;
    max-width: 100%;
    display: inline-block;
    margin: 0 auto 10px;
    padding: 10px 10px;
    vertical-align: top;
}
.buscador button{
    width: 100px;
    max-width: 100%;
    background: transparent;
    border: none;
    border-radius: 4px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 14px;
    padding: 4px;
    display: inline-block;
    margin: 0 auto;
    height: 43px;
    vertical-align: top;
}


/*--INTERIOR--*/
.header-interior{
    padding-top: 53px;
}

.header-interior .btn-menu{
    display: none;
}
.head-top-interior{
    border-bottom: 2px solid #9DB9D9;
}
    .header-interior h1{
        font-size: 40px;
        color:#2A7DE1;
        font-weight: bold;
        letter-spacing: 2px;
        display: inline-block;
        margin: 25px 0 10px;
        padding-right: 60px;
    }
    .header-interior .datos-head{
        padding-top: 25px;
        margin-right: 0;
    }

    .header-interior .datos-head .redes-head{
        display: inline-block;
        vertical-align: bottom;
        padding-bottom: 4px;
        margin-right: 20px;
    }
        .header-interior .datos-head .redes-head img{
            width: 22px;
        }
    .header-interior .datos-head .fonos-head{
        display: inline-block;
        vertical-align: bottom;
    }

.menu-interior{
    padding-top: 12px;
}
.menu-interior ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 15px;
}
.menu-interior ul li{
    display: inline-block;
    margin-right: 15px;
    position: relative;
}
.menu-interior ul li a{
    font-size: 14px;
    color:#82A3C7;
    display: block;
    transition: all 0.3s ease;
}
.menu-interior ul li a:hover{
    color:#802E87;
    text-decoration: none;
}
    .menu-interior > ul li:hover ul.sub-menu{
        display: block;
    }
    .menu-interior ul.sub-menu{
        position: absolute;
        background: #fff;
        padding: 20px;
        z-index: 99;
        min-width: 200px;
        display: none;
    }
    .menu-interior ul.sub-menu li{
        display: block;
        position: relative;
        padding-left: 15px;
        margin-bottom: 5px;
    }
    .menu-interior ul.sub-menu li:before{
        content: "";
        width: 8px;
        height: 8px;
        background:#82A3C7;
        border-radius: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 5px;
    }
    .menu-interior ul.sub-menu li a{}
/*--FIN INTERIOR--*/

/*--BREAD--*/
.bread{
    background: #E1EBF8;
    font-size: 12px;
    color:#709EDB;
    padding: 14px 0;
}
.bread.blanco{
    background: #fff;
}
.bread a{
    display: inline-block;
    color:#709EDB;
}
/*--FIN BREAD--*/
.phone-mobil {
    display: none;
}
.phone-mobil i.fa-ambulance {
    margin-right: 10px;
    font-size: 24px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


.box-botones {
  padding: 15px;
  position: absolute;
  margin-left: -70px;
  z-index: 999;
  display: none;
  width: auto;
  background: #802e87;
  border-radius: 5px;

}

.box-botones a.reserva {
    background:#fff;
    border-radius: 5px;
    text-decoration: none;
}

.botones-head a.reserva.res-dek:hover {
    border-radius: 5px 5px 0px 0px !important;
    background-color: #802e87;
    color: #fff;
}

.botones-head.desk .box-botones a {
    background: #fff;
}

.box-botones a.reserva span {
    color:#777;
}

.botones-head:hover .box-botones {
display: block;
}

.botones-head a {
  cursor: pointer;
}

header.fixed .botones-head a.reserva{
      color: #777;
   }



   @media (min-width: 991px) {
    .box-botones.mob-res {
       width: 310px;
 
    }
 }
 
 @media (max-width: 991px) {
   .botones-head.desk a.reserva {
       display: none;
       margin-top:2px;
   }
 
   .botones-head a.reserva.mob {
       border-bottom: none;
   }
   
   .box-botones {
   margin-top: -4px;
   width: 250px;
   padding: 5px 5px 5px 5px;
   margin-left: -95px;
   background: #fff;
   }
 
   .box-botones a {
   font-size: 9px;
   padding: 0px;
   }
 
   .box-botones a.reserva.hija {
       background: #802e87;
       color: #fff;
   }
   .header-home.fixed .box-botones.mob-res { 
   display: none;
   }
 
 }
 .botones-head.v-blog div.box-botones.res-btn-blog {
   background: #802e87;
   width: 310px;
   margin-left: -58px;
 }
 .botones-head.v-blog a.reserva.res-dek.res-blog:hover {
       border-color:#fff;
       background: #fff;
       color:#802e87; 
 }
 
 .menu-mobile.visible .mega-menu.menu-indicadores-clinicos ul {
   column-count: 2
 }
 
 .menu-mobile.visible .mega-menu.menu-especialidades ul,
 .menu-mobile.visible .mega-menu.menu-servicios ul,
 .menu-mobile.visible .mega-menu.menu-centros ul,
 .menu-mobile.visible .mega-menu.menu-programas ul,
 .menu-mobile.visible .mega-menu.menu-unidades ul {
   column-count: 2
 }
 
 .menu-mobile.visible  ul.sub-menu.menu-red-de-atencion.visible ul {
   column-count: 2
 }
 
 
 .menu-mobile.visible .sub-menu.menu-informacion-al-paciente li a i {
  display: none; 
 }
 
 .menu-mobile.visible .sub-menu.menu-informacion-al-paciente li:nth-child(6) a i {
  display: inline-block; 
 }
 
 .menu-mobile.visible .sub-menu.menu-examenes-y-procedimientos li a i {
   display: none;
 }
 
 .menu-mobile.visible .sub-menu.menu-red-de-atencion li:nth-child(4) a i {
  display: none; 
 }
 .menu-mobile.visible .sub-menu.menu-convenios-uc-christus li a i {
  display: none; 
 }
 .btn-menu, .cerrar-menu{
     cursor:pointer
 }
 .mega-menu.menu-indicadores-clinicos { 
   width: 200px; 
 }
 
 .mega-menu.menu-indicadores-clinicos ul { 
   column-count: 1;
 }
 
 .botones-head a.mi-pagina {
   display: none;
 }
 
 header.header-home.fixed div.barra-menu nav ul li.menu-planes-de-salud {
   display: none;
 }
 
 header.fixed .barra-menu nav ul li a {
   font-size: 11px;
 }
 
 div.phone-mobil a  {
     color:#fff;
 }
 
 .barra-menu nav ul li > ul.sub-menu.menu-examenes-y-procedimientos li a i {
     display: none;
 }
 
 .barra-menu nav ul li ul.sub-menu.menu-informacion-al-paciente li a i {
    display: none; 
 }
 
 .barra-menu nav ul li ul.sub-menu.menu-informacion-al-paciente li:nth-child(6) a i {
    display: inline-block; 
 }
 
 .barra-menu nav ul li ul.sub-menu.menu-red-de-atencion li:nth-child(4) a i {
    display: none; 
 }
 
 .barra-menu nav ul li ul.sub-menu.menu-convenios-uc-christus li a i {
    display: none; 
 }
 
 .barra-menu.blog-uc nav ul li.menu-planes-de-salud {
     display:none;
 }
 .sub-menu.menu-blog-salud-uc,.fa.fa-chevron-down.fa-blog-salud-uc {
     display:none !important;
 }
 
 figure {
   margin: 0;
 }
 
 @media (max-width: 576px) { 
  div.sigue-logo.christus figure img {
  width: 70%;
  }  
 }
 
 
 @media (max-width: 1200px) {
   .reserva-horas .form-group{
 
   }
   header .logo{
       padding-top: 7px;
   }
   header .logo img {
       width: 250px;
   }
   .botones-head a{
       font-size: 10px;
       padding: 10px;
   }
   .datos-head .fonos-head .item-fono span{
       font-size: 14px;
   }
 
   .barra-menu nav ul li a{
       font-size: 10px;
       padding: 13px 8px;
   }
   .reserva-horas .texto-reserva h4{
       font-size: 20px;
   }
   header.fixed .logo-fixed{
       width: 100px;
   }
   header.fixed .btns-barra-menu .botones-head a {
       font-size: 9px;
       padding: 10px 5px;
       margin-top:2px;
   }
   .sss{
       margin-top:2px !important;
   }
   header.fixed .barra-menu nav ul li a{
       font-size: 9px;
   }
   .btns-barra-menu a.atencion{
       font-size: 9px;
   }
   header.fixed .btns-barra-menu .botones-head a{
       font-size: 10px;
       padding: 10px;
   }
 }
 
 @media (max-width: 991px) {
   header{
       padding-top: 0;
   }
   .head-top{
       height: 70px;
   }
   .datos-head{
       display: none;
   }
   .botones-head{
       display: none;
   }
   .barra-menu nav{
       display: none;
   }
   .btns-barra-menu a.ic-medico{
       display: none;
   }
   .btns-barra-menu a.lupa{
       display: none;
   }
   .btns-barra-menu .botones-head{
       display: block;
       padding-top: 4px;
   }
   .btns-barra-menu .botones-head a.reserva{
       background: #fff;
       color: #802e87;
       padding: 8px 10px;
       height: 36px;
       border-radius: 6px;
   }
   header.fixed .botones-head a.reserva{
       border: 2px solid #802e87;
       padding: 8px 10px;
   }
   .botones-mobile{
       display: block;
       position: absolute;
       right: 40px;
       top: 10px;
   }
   .botones-mobile a.ic-medico{}
   .botones-mobile a.ic-medico img{
       margin-top: -2px;
   }
   .botones-mobile a.lupa{
       color: #2881ee;
       font-size: 22px;
       margin-left: 10px;
   }
   .btn-menu{
       color: #2881ee;
       font-size: 22px;
       margin-left: 10px;
   }
   .cerrar-menu{
       color: #455a64;
       font-size: 22px;
       margin-left: 10px;
     //  display: none;
   }
   .it{
       cursor:pointer;
   }
   .menu-mobile{
       position: absolute;
       top: 56px;
       background: #fff;
       display: block;
       z-index: 999;
       width: 470px;
       max-width: 100%;
       right: -500px;
       opacity: 0;
       padding: 40px 60px;
       transition:cubic-bezier(.77,0,.175,1) .5s;
   }
   .menu-mobile.visible{
       right: 0;
       opacity: 1;
   }
   .menu-mobile nav{}
   .menu-mobile nav ul{
       list-style: none;
       padding-left: 0;
   }
   .menu-mobile nav ul li{
       margin-bottom: 15px;
   }
   .menu-mobile nav ul li a{
       color:#2a7de1;
       font-size: 16px;
       font-weight: normal;
   }
   .menu-mobile nav ul li a i{
       margin-left: 10px;
   }
 
   .menu-mobile nav ul li > ul.sub-menu{
       background: #32588b;
       margin: 0;
       transition: all 3s ease;
       visibility: hidden;
       display: none;
       padding: 20px;
   }
   .menu-mobile nav ul li > ul.sub-menu.visible {
       display: block;
   }
   .menu-mobile nav ul li > ul.sub-menu li{
       width: 100%;
       margin-bottom: 5px;
       height: auto;
   }
   .menu-mobile nav ul li > ul.sub-menu li a{
       color:#fff;
   }
   .menu-especialidades-y-servicio .mega-menu{
       max-width: 100%;
       padding-left: 0;
   }
 
   .menu-mobile .mega-menu{
       position: relative;
       top: 0;
       left: 0;
       width: 100%;
       display: none;
       padding: 5px 0 15px;
   }
   .menu-mobile .mega-menu.visible {
       display: block;
   }
 
   .menu-mobile .mega-menu ul{
       width: 100%;
       padding-left: 10px;
   }
   .menu-mobile .mega-menu ul:first-child{
       padding-left: 0;
   }
   .menu-mobile .mega-menu ul:nth-child(2){
       border: none;
   }
   .menu-mobile .mega-menu ul li{}
   .menu-mobile .mega-menu ul li a{
       font-size: 13px;
       color:#fff;
   }
 
   .menu-mobile a.mi-pagina{
       font-size: 16px;
       font-weight: bold;
       padding: 12px 18px;
       width: auto;
       display: inline-block;
       text-align: center;
       border-radius: 3px;
       vertical-align: top;
       color:#2a7de1;
       border: 2px solid #2a7de1;
       margin: 15px 0;
   }
 
   .menu-mobile .fonos-head .item-fono{
       font-size: 14px;
       color:#2a7de1;
       font-weight: 300;
       display: block;
       text-align: left;
       vertical-align: top;
       margin-left: 0px;
       margin-bottom: 10px;
   }
   .menu-mobile .fonos-head .item-fono:first-child{
       margin-left: 0;
   }
   .menu-mobile .fonos-head .item-fono span{
       font-size: 18px;
       color:#2a7de1;
       font-weight: normal;
       display: block;
       margin-top: -5px;
   }
 
   .redes-mobile{
       margin-top: 20px;
   }
   .redes-mobile a{
       margin-right: 6px;
   }
   .wrapper.wrapper-home{
       padding-top: 100px;
       min-height: 100vh;
   }
 
   .header-interior .btn-menu{
       display: block;
       position: absolute;
       right: 40px;
       top: 80px;
       font-size: 30px;
       cursor: pointer;
   }
   .menu-mobile-interior .cerrar-menu{
       margin-left: 0;
       font-size: 28px;
       /* margin-right: -20px; */
       right: 0;
       margin-bottom: 20px;
       margin-top: -14px;
       float: right;
   }
   .menu-atencion {
     top: 48px;
   }
 }
 
 @media (max-width: 768px) {
 
   .animated,
   .animated-delay1,
   .animated-delay2,
   .animated-delay3,
   .animated-delay4,
   .wow {
       /*CSS transitions*/
       -o-transition-property: none !important;
       -moz-transition-property: none !important;
       -ms-transition-property: none !important;
       -webkit-transition-property: none !important;
       transition-property: none !important;
       /*CSS transforms*/
       -o-transform: none !important;
       -moz-transform: none !important;
       -ms-transform: none !important;
       -webkit-transform: none !important;
       transform: none !important;
       /*CSS animations*/
       -webkit-animation: none !important;
       -moz-animation: none !important;
       -o-animation: none !important;
       -ms-animation: none !important;
       animation: none !important;
       visibility: visible !important;
   }
 
   footer .m-footer{
       margin-bottom: 40px;
   }
  
   .header-interior h1{
       font-size: 30px;
   }
   .header-interior .btn-menu{
       top: 73px;
   }
   .header-interior .btn-menu{
       right: 40px;
   }
   .menu-atencion {
       width: 100%;
       right: 0;
   }
  
 }
 
  @media (max-width: 999px) {
   .wrap{
     height:50px;
     padding:0px !important;

   }
}
 .brr{
        display: none !important
     }
 @media (max-width: 640px) {
     .atencion{
         padding: 12px 10px !important;
     }
     .brr{
        display: initial !important
     }
   .wrap{
       padding: 0 20px;
   }
   .botones-mobile{
       right: 20px;
   }
   .phone-mobil {
     display: block;
     position: relative;
     width: 100%;
     background: #f00;
     font-size: 15px;
     color: #fff;
     padding: 8px 20px;
     text-align: center;
 }
 div.phone-mobil a  {
   color:#fff;
 }
  
 .btns-barra-menu {
   position: static;
 }
 }
 
 
 @media (max-width: 480px) {
   header .logo img{
       width: 150px;
       margin-top: 5px;
   }
   .menu-atencion{
       padding-bottom: 0;
   }
   .menu-atencion a {
       display: inline-block;
       margin: 0 15px;
       width: 30%;
       margin-bottom: 30px;
   }
 
   .btns-barra-menu .btn-atencion:hover .menu-atencion{
       display: block;
       top: 48px;
       padding-top: 30px;
       max-width: 100%;
       padding-bottom: 0;
   }
 
   .menu-mobile{
       padding: 40px 30px;
   }
   .menu-mobile nav ul li a{
       /*font-size: 14px;*/
       font-size: 12px;
   }
   .botones-head a.mi-pagina{
       display: none;
   }
   header.fixed .botones-head a.reserva{
    //   display: none;
   }
 
   .btn-menu{
       margin-left: 5px;
   }
   .botones-mobile a.lupa{
       margin-left: 5px;
   }
   .w-user{
       margin-right: 83px;
   }
   .buscador {
       right: 0;
       left: 0;
       top: 60px;
       width: 100%;
   }
   .buscador.visible {
       right: 0;
       top: 70px;
       z-index: 999;
       width: 100%;
   }
   .buscador input{
       width: calc(100% - 100px);
   }
   .buscador button{
       width: 80px;
       font-size: 12px;
   }
 }

 
 @media (max-width: 320px) {
   .btns-barra-menu .botones-head a.reserva {
       background: #fff;
       color: #802e87;
       padding: 8px 10px;
       height: 33px;
       margin-top: 3px;
       font-size: 8px;
       width: auto;
       border-radius: 6px;
   }
 
 }
 
 .mega-menu ul {
     display: inline-block;
     vertical-align: top;
     padding: 0 15px;
     width: 100%;
     column-count: 3;
 }
 .menu-abc-de-la-salud, .menu-diagnostico-por-imagenes, .menu-laboratorio-clinico, .menu-nuestra-red {
     display: none !important;
 }
 
 .mega-menu ul li {
     display: inline-block !important;
     width: 100%;
 }
 .barra-menu nav li.menu-red-de-atencion div.mega-menu ul {
     column-count: 1;
 }
 .menu-red-de-atencion .mega-menu {
     width: 200px;
 }
 
 .mega-menu.menu-indicadores-clinicos ul { 
     column-count: 1;
 }
 
 .menu-mobile ul li ul li i {
     display: none !important;
 }

}
