.dtm-c{
    margin-bottom: 50px;

    .picProf{
        width: 220px;
        border-radius: 100%;
    }

    .iniText{
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .nombreMedico{
        font-size: 30px;
        color: #802e87;
        line-height: 35px;
        margin-bottom: 15px;
        display: block;
    }

    .cus-pad{
        padding: 5px 40px !important;
        border: 2px solid #802e87;
    }

    .nobgbtn{

        margin-right: 15px;
        background: #fff;
        color: #802e87;
        font-weight: bold !important;

    }

    .nn{
        background: #802e87;
        color: #fff;
    }

}

@media(max-width:960px){
    .picProf{
        display: block;
        margin:0px auto 25px auto;
    }

    .nombreMedico{
        text-align: center;
        margin-bottom: 25px;
    }

    .actions{
        text-align: center;
    }

    .iniText{
        text-align: center;
    }
}