<section class="w-registro">
	<div class="wrap">
		<div class="id-numero">
			<div class="row">
				<div class="col-lg-7">
					<div class="busqueda-hora title-id">
						<h4>Información</h4>
						<p *ngFor="let regla of reglas"><b>- {{ regla.nombre }}.</b></p>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="id-num-der">
						<h4>Mesa Central</h4>
						<h3><img src="images/ic-tel.svg" alt=""> 22 676 7000</h3>
						<a matRipple class="c-btn btn-blanco-gris hover" (click)="accionar('VOLVER')"><img src="images/ic-back.svg" alt="">VOLVER</a>
						<a matRipple class="c-btn btn-gris hover" (click)="accionar('NUEVO')">NUEVA RESERVA</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>