<div *ngIf="busquedaInicial">
	<div class="resultados-para">
		<div>
			<h5>Resultados para:</h5>
			<h3 *ngIf="!busquedaInicial.profesional">
				{{ busquedaInicial.especialidad.nombreEspecialidad }}
				<span class="spec">{{ busquedaInicial.especialidad.nombreServicio }}</span>
			</h3>
			<h3 *ngIf="busquedaInicial.profesional">
				{{ busquedaInicial.profesional.nombreProfesional }}
				<span class="spec">{{ busquedaInicial.especialidad.nombreEspecialidad }} - {{ busquedaInicial.especialidad.nombreServicio }}</span>
			</h3>

			<div class="cuadro-res">
				<div class="item-res">
					<img src="/assets/images/ic-area.svg" alt="">
					<p><b>Área Médica:</b> {{ busquedaInicial.area.nombre }}</p>
				</div>
				<div class="item-res" *ngIf="utils.slugify(busquedaInicial.area.nombre, '-') !== 'telemedicina'
				&& utils.slugify(busquedaInicial.area.nombre, '-') !== 'consulta-medica-virtual'">
					<img src="/assets/images/ic-clinica.svg" alt="">
					<p><b>Clínica/Centro:</b> {{ busquedaInicial.centroAtencion.nombre }} </p>
				</div>
				<div class="item-res">
					<img src="/assets/images/ic-esp.svg" alt="">
					<p><b>Especialidad:</b> {{ busquedaInicial.especialidad.nombreEspecialidad }} </p>
				</div>
			</div>
		</div>
	</div>
	<section class="w-resultados">
		<div class="cwarn" *ngIf="recursos && loadedRecursos">
			<h5 style="margin:0px" *ngIf="recursos.length > 0">Se han encontrado {{ recursos.length }} resultado(s).
			</h5>
			<h5 style="margin:0px" *ngIf="busquedaInicial.profesional && recursos.length == 0">Sin disponibilidad vía web. Llámanos al 22676 7000.</h5>
			<h5 style="margin:0px" *ngIf="!busquedaInicial.profesional && recursos.length == 0">Sin disponibilidad vía web. Llámanos al 22676 7000.</h5>
		</div>

		<div class="content-res">
			<div class="item-doc" *ngFor="let re of recursos; let i = index">
				<div class="row">
					<div class="col-lg-6">
						<div class="box-doc">
							<div fxLayout="row wrap" style="margin-top:90px" fxLayoutAlign="space-evenly">
								<figure fxFlex="35%" >
									<img [src]="re?.urlImagenProfesional" alt="">
								</figure>
								<div class="txt-doc" fxFlex="60%">
									<h4>{{ re.nombre }}</h4>
									<!-- <p>Especialidad del Médico</p> -->
									<button style="margin:20px 0px" class="ver-perfil full-btn" mat-stroked-button
										(click)="verPerfil(re)">Ver
										perfil
										<i class="fa fa-angle-right" aria-hidden="true"></i>
									</button>
									<p class="small" *ngIf="re?.informacionAdicional" style="margin-top:0px;">
										{{ re?.informacionAdicional }}</p>
								</div>
							</div>


						</div>
					</div>
					<div class="col-lg-6">
						<div class="cal-doc calendario" data-rel="cal3">
							<div class="calendar-utils">
								<div class="container-calendar"
									*ngIf="!re.datesToHighlight || (selectedDate[i] && centrosProfesional[i] && centrosProfesional[i].length > 0)">
									<button mat-raised-button *ngIf="!re.datesToHighlight" color="primary"
										class="full-btn" (click)="cargarCalendario(re, i)">Ver Calendario
										Disponible</button>
									<div class="sel-hora" style="display: block;"
										*ngIf="selectedDate[i] && centrosProfesional[i] && centrosProfesional[i].length > 0">
										<p class="header-sel-hora">
											Seleccione un Centro y una Hora Disponible para el
											{{ selectedDate[i] | date:'dd/MM/yyyy'}}
											<button mat-stroked-button (click)="eligeOtroDia(i)"
												color="primary">
												Elegir otro día
											</button>
										</p>
										<ng-container *ngFor="let cet of centrosProfesional[i]; let idx = index">

											<a class="item-hora" [ngClass]="{ 'active' : cet.habilitado }"
												(click)="displayCentro(i, idx)">
												<div class="centro-medico">
													<img src="/assets/images/ic-centro.svg">{{ cet.nombreCentro }}
												</div>
											</a>

											<ng-container *ngIf="cet.habilitado">
												<a class="item-hora" *ngFor="let cupo of cet.cupos"
													(click)="seleccionarHora({fecha: selectedDate[i], cupo : cupo, recurso:re})">
													<div class="hora">{{ cupo.fechaHora | toLocalScl: cupo.compensacion : 'HH:mm'  }}</div>
												</a>
											</ng-container>
										</ng-container>

									</div>
								</div>

								<div *ngIf="re.datesToHighlight && re.datesToHighlight['displayed']">
									<mat-calendar [minDate]="re.proximaFecha" [maxDate]="fechaLimite"
										[dateClass]="re.datesToHighlight.dateClass" [selected]="selectedDate[i]"
										(selectedChange)="onSelect($event, i)"></mat-calendar>
									<div class="datos-horas">
										<p *ngIf="re.proximaFecha">Próxima hora disponible:
											<span>{{ re.proximaFecha | toLocalScl: re.compensacion : 'dddd DD/MM/YYYY [a las] HH:mm'}}</span></p>
										<p *ngIf="!re.proximaFecha">No existen horas disponibles.</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</div>
