<div class="contenido-anular">
  <div class="card-horas">

    <div class="row" style="margin-top:20px;">
      <div class="col-md-4 inpute">
        <mat-form-field class="full bgwhite-input" appearance="fill">
          <mat-label>Tipo de Documento *</mat-label>
          <mat-select [(ngModel)]="busquedaPaciente.tipoDocumento" (selectionChange)="busquedaPaciente.documentoFormateado = null" tabindex="0">
            <mat-option [value]="'RUN'">RUN</mat-option>
            <mat-option [value]="'PAS'">PASAPORTE</mat-option>
          </mat-select>
          <mat-icon matSuffix>list</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-4 field-margin inpute">
        <mat-form-field class="full bgwhite-input" appearance="fill">
          <mat-label>{{ (busquedaPaciente.tipoDocumento == 'RUN') ? 'RUT' : 'Pasaporte'}} del Paciente *</mat-label>
          <input matInput maxlength="{{ (busquedaPaciente.tipoDocumento == 'PAS') ? 15 : null }}" 
            [(ngModel)]="busquedaPaciente.documentoFormateado" (focusout)="setFormatRut()"
            (focusin)="restoreFormatRut()" 
            placeholder="{{ (busquedaPaciente.tipoDocumento == 'RUN') ? 'Rut sin puntos ni guión' : 'Pasaporte'}}" 
            autocomplete="off" tabindex="1" />
          <mat-icon matSuffix>chrome_reader_mode</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-4 field-margin inpute">
        <mat-form-field class="full bgwhite-input" appearance="fill" (click)="picker.open()">
          <mat-label>Fecha de la Reserva *</mat-label>
          <input matInput  [(ngModel)]="busquedaPaciente.fechaCita" [min]="today" [matDatepicker]="picker" readonly  placeholder="Fecha de la cita" autocomplete="off" tabindex="2" />
            <mat-icon matSuffix>calendar_today</mat-icon>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card-horas-bottom" style="text-align: left;">
          <a [routerLink]="['/']" class="reservar-hora" matRipple>RESERVAR HORA</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12"></div>
  
      <div class="col-md-4 col-sm-12 col-xs-12 field-margin">
        <div class="form-group">
          <button mat-stroked-button class="btn-azul custom-btn" (click)="buscarCita()">BUSCAR</button>
        </div>
      </div>
    </div>
    

  </div>
</div>