::ng-deep .contenido-anular .inpute .mat-form-field-wrapper{
   // padding:0px !important;
   // background:#fff;
}

.custom-btn{
    padding: 8px 0px;
    width: 100%;
   /* min-width: 240px;*/
    margin: 0;
    float: right;
    margin-top: 14px;
    display: block;
    max-width: 200px;

    &:hover{
        background:#2a7de1 !important;
        color:#fff !important
    }
}

.res-mob-btn{
    display: none !important;
}

@media(max-width:768px){
    .custom-btn, .card-horas-bottom a.reservar-hora{
        max-width: initial !important;
    }

    .res-desk-btn{
        display: none !important;
    }

    .res-mob-btn{
        display: block !important;
    }
}