<div class="contenido-anular" *ngIf="dataAnularCita?.paciente">

    <div class="datos-paciente">
        <div class="item">
            <p><b>Nombre paciente:</b> {{ dataAnularCita?.paciente.nombreCompleto }}</p>
        </div>
        <div class="item">
            <p><b>RUT:</b> {{ dataAnularCita?.paciente.numeroDocumentoFormateado }}</p>
        </div>
        <div class="item">
            <p><b>Fecha de reserva:</b> {{ dataAnularCita?.dataBusqueda.fechaCita | date:'dd/MM/yyyy' }}</p>
        </div>
    </div>

    <div class="w-table">
        <table class="horas">
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Datos del profesional</th>
                    <th>Especialidad</th>
                    <th>Centro médico</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cita of dataAnularCita.citas">
                    <td>{{ cita.FechaHoraDesde | date:'HH:mm' }}</td>
                    <td>{{ cita.RecursosCita[0]?.Recurso.Nombre }}</td>
                    <td>--</td>
                    <td>{{ cita.Centro.Nombre }}</td>
                    <td>
                        <div class="botones">
                            <button mat-stroked-button class="btn-azul cus-pad" style="margin-right: 10px;" (click)="anular(cita)">ANULAR</button>
                            <button mat-stroked-button class="btn-blanco cus-pad" (click)="verDetalle(cita)">DETALLE</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>