<div class="contenido-anular">

    <div class="datos-paciente">
        <div class="item">
            <p><b>Nombre paciente:</b> Eduardo Villalobos Blanco asda a asd asd asds</p>
        </div>
        <div class="item">
            <p><b>RUT:</b> 13.245.677-K</p>
        </div>
        <div class="item">
            <p><b>Fecha de reserva:</b> 23-08-2020</p>
        </div>
    </div>

    <div class="w-table">
        <table class="horas">
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Datos del profesional</th>
                    <th>Especialidad</th>
                    <th>Centro médico</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>18:45 hrs.</td>
                    <td>Fernanda Mancilla Salazar</td>
                    <td>Odontología</td>
                    <td>Clínica San Carlos</td>
                    <td>
                        <div class="botones">
                            <a href="#" class="btn-blanco">DETALLE</a>
                            <a href="#" class="btn-azul">ANULAR</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>18:45 hrs.</td>
                    <td>Fernanda Mancilla Salazar</td>
                    <td>Gastroenterología</td>
                    <td>Clínica San Carlos</td>
                    <td>
                        <div class="botones">
                            <a href="#" class="btn-blanco">DETALLE</a>
                            <a href="#" class="btn-azul">ANULAR</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>18:45 hrs.</td>
                    <td>Fernanda Mancilla Salazar</td>
                    <td>Oftalmología</td>
                    <td>Clínica San Carlos</td>
                    <td>
                        <div class="botones">
                            <a href="#" class="btn-blanco">DETALLE</a>
                            <a href="#" class="btn-azul">ANULAR</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>18:45 hrs.</td>
                    <td>Fernanda Mancilla Salazar</td>
                    <td>Geriatría</td>
                    <td>Clínica San Carlos</td>
                    <td>
                        <div class="botones">
                            <a href="#" class="btn-blanco">DETALLE</a>
                            <a href="#" class="btn-azul">ANULAR</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-horas-bottom">
        <a href="#" class="volver">
            <img src="images/flecha-left.svg" alt=""> VOLVER
        </a>
    </div>
</div>