<div class="contenido-anular" *ngIf="dataAnularCita?.paciente">

    <div class="datos-paciente">
        <div class="item">
            <p><b>Nombre paciente:</b> {{ dataAnularCita?.paciente.nombreCompleto }}</p>
        </div>
        <div class="item">
            <p><b>RUT:</b> {{ dataAnularCita?.paciente.numeroDocumentoFormateado }}</p>
        </div>
        <div class="item">
            <p><b>Fecha de reserva:</b> {{ dataAnularCita?.dataBusqueda.fechaCita | date:'dd/MM/yyyy' }}</p>
        </div>
    </div>

    <div class="w-table htb">
        <table class="horas">
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Datos del profesional</th>
                    <th>Especialidad</th>
                    <th>Centro médico</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cita of dataAnularCita.citas">
                    <td>{{ cita.FechaHoraDesde | date:'HH:mm' }}</td>
                    <td>{{ cita.RecursosCita[0]?.Recurso.Nombre }}</td>
                    <td>{{ cita.Servicio.NombreEspecialidad }}</td>
                    <td>{{ cita.Centro.Nombre }}</td>
                    <td>
                        <div class="botones">
                            <button mat-stroked-button class="btn-azul cus-pad" style="margin-right: 10px;" (click)="anular(cita)" [disabled]="todayTime > cita.fechaTime">ANULAR</button>
                            <button mat-stroked-button class="btn-blanco cus-pad" (click)="verDetalle(cita)">DETALLE</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <div class="tb-container" *ngFor="let cita of dataAnularCita.citas">
            <div fxLayout="row wrap" fxLayoutAlign="space-between">
                <div class="itm" fxFlex="49%"><b>Hora</b></div>
                <div class="itm" fxFlex="49%">{{ cita.FechaHoraDesde | date:'HH:mm' }}</div>
                <div class="itm" fxFlex="49%"><b>Datos del Profesional:</b></div>
                <div class="itm" fxFlex="49%">{{ cita.RecursosCita[0]?.Recurso.Nombre }}</div>
                <div class="itm" fxFlex="49%"><b>Especialidad</b></div>
                <div class="itm" fxFlex="49%">{{ cita.Servicio.NombreEspecialidad }}</div>
                <div class="itm" fxFlex="49%"><b>Centro</b></div>
                <div class="itm" fxFlex="49%">{{ cita.Centro.Nombre }}</div>
                <div fxFlex="100%">
                    <div style="margin-top:20px !important">
                        <button mat-stroked-button class="btn-azul cus-pad" style="margin: 0px auto !important; display:block" (click)="anular(cita)" [disabled]="todayTime > cita.fechaTime">ANULAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>