::ng-deep .reservaStepper .mat-tab-labels { display: none !important}
::ng-deep  .reservaStepper .mat-tab-nav-bar,  ::ng-deep .reservaStepper .mat-tab-header{border:none !important}
.btn-ret{margin: 20px 0px;}

.cloader{
    position: relative;
  }
  .container-loader{
    position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.8);
      z-index: 100;
  }
  
  .container-loader .cmatspin{
    position: fixed;
    left:50%;
    top:50%;
    margin-left:-80px;
    margin-top:-80px;
    padding: 50px;
    background: rgba(255,255,255,0.4);
  }

  .readQuery{
      background:#fff !important;
  }

  .return{
    margin-bottom: 20px;
  }

  .cus-pad.cus{
    padding:5px 15px !important
  }