<section class="w-reservas " >
  <div class="wrap">
    <div class="flex-container header-reserva">
      <h2 class="titulo-2 azul" *ngIf="!saludIntegral"><i class="far fa-clock"></i> {{ listaEsperaData ? 'FORMULARIO DE INSCRIPCIÓN' : 'RESERVA DE HORAS' }}</h2>
      <h2 class="titulo-2 azul" *ngIf="saludIntegral"><i class="far fa-clock"></i> SALUD INTEGRAL</h2>

      <div class="w-pasos" 
      [ngClass]="{'step1' : curEtapa == 1, 'step2' : curEtapa >= 2 && !reservaRealizada, 'step3': reservaRealizada  }"
      *ngIf="tabGroup" fxLayout="row wrap" fxLayoutAlign="space-between" >
        <a class="item-paso" [ngClass]="{'activo' : curEtapa == 0 || busquedaInfo }" fxFlex="70px">
          <figure matRipple>
            <i class="fas fa-user-md"></i>
          </figure>
          <h4>Búsqueda</h4>
        </a>
        <a class="item-paso" [ngClass]="{'activo' : curEtapa == 1 || calendario ||  listaEsperaData || isProcedimiento }" fxFlex="70px">
          <figure matRipple [ngClass]="{ 'stepOpacity' : curEtapa < 1}">
            <i class="far fa-calendar-alt"></i>
          </figure>
          <h4>Selección</h4>
        </a>
        <a class="item-paso" [ngClass]="{'activo' : curEtapa == 2 || paciente || confirmacionListaEsperaData || confirmacionProcedimiento}" fxFlex="75px">
          <figure matRipple [ngClass]="{ 'stepOpacity' : curEtapa < 2}">
            <i class="fas fa-user"></i>
          </figure>
          <h4 *ngIf="!listaEsperaData">Identificación</h4>
          <h4 *ngIf="listaEsperaData" class="custep">Identificación <br />
            
          </h4>
        </a>
        <a class="item-paso" [ngClass]="{'activo' : reservaRealizada || confirmacionListaEsperaData }" fxFlex="70px">
          <figure matRipple [ngClass]="{ 'stepOpacity' : !reservaRealizada }">
            <i class="fas fa-check"></i>
          </figure>
          <h4 *ngIf="!listaEsperaData" style="width: 130px; margin-left: -18px;">¡Reserva Exitosa!</h4>
          <h4 *ngIf="listaEsperaData" style="width: 130px; margin-left: -18px;">¡Inscripción Exitosa!</h4>
        </a>
      </div>
    </div>

  </div>
</section>
<!--
<div class="mensaje-exito" *ngIf="reservaRealizada">
  <img src="assets/images/check-morado.svg" alt=""> HORA RESERVADA CON ÉXITO
</div>
-->

<div class="reservaStepper cloader">
  <div class="container-loader" [ngClass]="{'readQuery' : !readQuery}" *ngIf="utils.progressBar || !readQuery">
    <div class="cmatspin">
        <mat-spinner [diameter]="60"></mat-spinner>
    </div>
  </div>

  <div class="return wrap" *ngIf="!saludIntegral || curEtapa !== 0">
    <div fxLayout="row">
      <div fxFlex="50%">
        <button mat-stroked-button class="btn-azul cus-pad" 
                (click)="cambiarEtapa((curEtapa === 4) ? curEtapa - 2 : curEtapa - 1)" 
                *ngIf="!reservaRealizada && !confirmacionListaEsperaData && ((curEtapa != 0 && !saludIntegral) || (curEtapa > 1 && saludIntegral))">
                <mat-icon class="icon-cus-pad">keyboard_backspace</mat-icon>Volver
        </button>
        <button mat-stroked-button class="btn-azul cus-pad" *ngIf="!reservaRealizada && curEtapa < 2 && saludIntegral" (click)="volverSaludIntegral()">
                <mat-icon class="icon-cus-pad">keyboard_backspace</mat-icon>{{ saludIntgralBotonVolver.text }}
        </button>
      </div>
      <div fxFlex="50%" style="text-align: right;">
        <button mat-stroked-button class="btn-morado cus-pad cus" (click)="anularhHora()" *ngIf="curEtapa == 0 && !listaEsperaData">
            Anular Hora
            <mat-icon class="anuicon rot">keyboard_backspace</mat-icon>
        </button>
        <button mat-stroked-button class="btn-morado cus-pad cus" (click)="reservar()" *ngIf="(curEtapa == 4 && !reservaRealizada) && !listaEsperaData">
          Confirmar Reserva
          <mat-icon class="anuicon">done</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-tab-group dynamicHeight #tabGroup>
    <mat-tab label="Búsqueda">
      <div *ngIf="checkSaludIntegral">
        <app-busqueda (emitReadQuery)="readQuerySetter($event)" [isSaludIntegral]="saludIntegral" (emitBusqueda)="busquedaEmitter($event)" *ngIf="!saludIntegral" [etapaActual]="curEtapa"></app-busqueda>
        <app-buscar-tu-medico *ngIf="saludIntegral" (datosBeneficiarioMedico)="setDatosBeneficiario($event)"></app-buscar-tu-medico>
      </div>
    </mat-tab>
    <mat-tab label="Selección">
      <app-seleccion #seleccion [busquedaInicial]="busquedaInfo"  (readQuery)="readQuery = $event" [reloadBusqueda]="reloadNumber" (listaEspera)="listaEspera($event)" (procedimiento)="setProcedimiento()"></app-seleccion>
    </mat-tab>
    <mat-tab label="Identificación">
      <app-identificacion #identificacion [fromSaludIntegral]="saludIntegral" [listaEspera]="listaEsperaData" [isProcedimiento]="isProcedimiento" [busquedaInicial]="busquedaInfo" [calendario]="calendario" [rutMatch]="calendario ? rutMatch : null">
      </app-identificacion>
    </mat-tab>
    <mat-tab label="Error">
      <app-error-validacion [reglas]="reglasActuales" [mensajes]="mensajesActuales" (emitAccionar)="accionValidacionReglas($event)">
      </app-error-validacion>
    </mat-tab>
    <mat-tab label="Confirmación">
      <app-confirmacion [busquedaInicial]="busquedaInfo" [mensajes]="mensajesActuales" [calendario]="calendario" [paciente]="paciente"
        [reservaFinalizada]="reservaRealizada" (confirmarReserva)="confirmarReserva($event)" (confirmarAnular)="resetReserva()" *ngIf="!listaEsperaData && !isProcedimiento">
      </app-confirmacion>
      <app-lista-espera-efectuada *ngIf="listaEsperaData" [busquedaInicial]="busquedaInfo" [confirmacionListaEsperaData]="confirmacionListaEsperaData"></app-lista-espera-efectuada>
      <app-solicitud-procedimiento-efectuado *ngIf="isProcedimiento" [confirmacionProcedimiento]="confirmacionProcedimiento" [busquedaInicial]="busquedaInfo"></app-solicitud-procedimiento-efectuado>
    </mat-tab>
  
  </mat-tab-group>
</div>

<div class="wrap">
  <div class="mainBtnCnt" *ngIf="reservaRealizada">
    <button mat-stroked-button class="mainBtn" (click)="nuevaReserva(true)">{{ conoceTuMedico || listaEsperaData ? 'NUEVA BÚSQUEDA' : 'TOMAR OTRA HORA' }}</button>
  </div>
</div>
