<section class="datos-reserva datos-gracias datos-r2" *ngIf="paciente && calendario && busquedaInicial">

<div class="w-datos">
  <div class="row no-gutters">
    <div class="col-lg-4">
      <div class="header-datos">
        <h4>Datos de la reserva</h4>
      </div>
      <div class="body-datos b-d1">
          <div class="row">
            <div class="col-lg-12">
              <!-- <p><b>Id Reserva:</b> {{ codCita }}</p> -->
              <p><b>Fecha:</b> {{ calendario.cupo.fechaHora | toLocalScl: calendario.cupo.compensacion : 'DD/MM/YYYY'}}</p>
              <p><b>Hora:</b>  {{ calendario.cupo.fechaHora | toLocalScl: calendario.cupo.compensacion : 'HH:mm'}} Hrs</p>
              <p><b>Centro:</b> {{ calendario.cupo.nombreCentro }}</p>
              <p *ngIf="busquedaInicial.centroAtencion.codigo != 'todos' && utils.slugify(busquedaInicial.area.nombre, '-') !== 'telemedicina'
              && utils.slugify(busquedaInicial.area.nombre, '-') !== 'consulta-medica-virtual'"><b>Ubicación:</b> {{ calendario.cupo.centro.direccion?.calle }},
                {{ calendario.cupo.centro.direccion?.numero }},
                {{ calendario.cupo.centro.direccion?.comuna }}</p>
              <!-- <p><b>Formas de pago:</b> Bono Fonasa, Particular, Bono Isapre</p> -->
              <p *ngIf="valorConvenio > 0 "><b>Valor Convenio:</b> ${{ valorConvenio }} <span>(*)</span></p>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-4 b-l">
      <div class="header-datos">
        <h4>Datos del profesional</h4>
      </div>
      <div class="body-datos b-d2">
          <div class="row">
            <div class="col-lg-12">
              <p><b>Profesional:</b> {{ calendario.recurso.nombre }}</p>
              <p><b>Especialidad:</b>{{ busquedaInicial.especialidad.detalle }}</p>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-4 b-l">
      <div class="header-datos">
        <h4>Datos del paciente</h4>
      </div>
      <div class="body-datos b-d3">
          <div class="row">
            <div class="col-lg-12">
              <p><b>Nombre:</b> {{ paciente.nombreCompleto }}</p>
              <p><b>RUT:</b> {{ paciente.numeroDocumentoFormateado }}</p>
              <p><b>Previsión:</b> {{ paciente.adicional?.prevision?.nombrePlan }}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="puntos-abajo p2" *ngIf="valorConvenio > 0">
  <p>(*)Valor de referencia, el cual no contempla la bonificación correspondiente por la cobertura de su plan de salud.</p>
</div>
<div class="puntos-abajo p2" *ngIf="mensajes.length > 0">
  <ng-container *ngFor="let msj of mensajes">
      <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(msj['mensaje']['contenido'])" *ngIf="msj['mensaje']['mostrar']" ></div>
  </ng-container>
</div>
</section>

