<!-- 

  <div class="container-query" >
  <mat-spinner [diameter]="70" class="spin"></mat-spinner>
</div>

-->
<div class="cuadro-reserva">
  <div class="seleccionar-area">
    <h4>Seleccionar Área: <span *ngIf="areas.length == 0"> No existen Áreas de Consulta disponibles</span></h4>
    <mat-radio-group [(ngModel)]="areaSelected" (change)="changeAreas($event)">
      <ng-container *ngFor="let area of areas; let i = index">
        <mat-radio-button [value]="area" color="primary">{{ area.nombre }}</mat-radio-button>
      </ng-container>
    </mat-radio-group>
  </div>
  <p class="cwarn" *ngIf="areaSelected">
    Area Seleccionada: <b>{{ areaSelected.nombre }}</b>
  </p>
  <div class="busqueda-reserva" *ngIf="areas.length > 0 && areaSelected">
    <div class="busqueda-hora">
      <h4>Búsqueda de hora por</h4>
      <button mat-stroked-button class="c-btn btn-azul2" style="margin-right:15px"
        [ngClass]="{'activo' : tipoConsulta == 'especialidad'}"
        (click)="cambiarTipoBusqueda('especialidad')">ESPECIALIDAD</button>
      <button mat-stroked-button class="c-btn btn-azul2" style="margin-right:15px"
        [ngClass]="{'activo' : tipoConsulta == 'profesional'}"
        (click)="cambiarTipoBusqueda('profesional')">PROFESIONALES</button>
    </div>
    <div class="wrap-area-busqueda" *ngIf="areas.length > 0 && areaSelected">
      <div class="panel-area" id="buscar1">
        <div class="row">

          <div class="col-lg-6 col-md-12" *ngIf="tipoConsulta == 'profesional' && profesionales.length > 0 && loadedProf">
            <mat-form-field class="full" appearance="fill" [color]="primary">
              <mat-label>Seleccione un Profesional</mat-label>
              <input matInput type="text" placeholder="Escriba para filtrar  por nombre y apellido"
                [formControl]="profesionalCtrl" [matAutocomplete]="auto" autocomplete="off">
              <mat-icon matPrefix style="margin-right: 10px">school</mat-icon>
              <mat-spinner [diameter]="30" matSuffix *ngIf="loadingProfesionales"></mat-spinner>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTextAutocomplete"
                (optionSelected)="profesionalSelection($event)" >
                <mat-option *ngFor="let prof of filterProfesionales" [value]="prof"
                   matTooltipPosition="right">
                  {{ prof.detalle }}
                </mat-option>
                <mat-option *ngIf="!filterProfesionales || filterProfesionales == 0" [value]="null" matTooltipPosition="right">
                  No se encontraron profesionales
                </mat-option>
              </mat-autocomplete>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection('profesional', true)"
                matTooltip="Limpiar Seleccion" *ngIf="profesionalCtrl.value && profesionalCtrl.value.idProfesional && !loadingProfesionales">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
  
          <div class="col-lg-6 col-md-12"
            *ngIf="((tipoConsulta == 'especialidad' && especialidades.length > 0) || (tipoConsulta == 'profesional' && profesionalSelected && especialidades.length > 0)) && loadedEsp">
            <mat-form-field class="full" appearance="fill" [color]="primary">
              <mat-label>Seleccione una Especialidad</mat-label>
              <input matInput type="text"
                placeholder="Escriba para filtrar por {{ tipoConsulta == 'especialidad' ? 'especialidad' : 'especialidad'}}"
                [formControl]="especialidadCtrl" [matAutocomplete]="auto" autocomplete="off">
              <mat-icon matPrefix style="margin-right: 10px">add_to_photos</mat-icon>
              <mat-spinner [diameter]="30" matSuffix *ngIf="loadingEspecialidades"></mat-spinner>
              <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayTextAutocomplete"
                (optionSelected)="especialidadSelection($event, tipoConsulta)">
                <div class="layerl" *ngIf="loadingEspecialidades"></div>
                <mat-option *ngFor="let esp of filterEspecialidades" [value]="esp"
                  matTooltipPosition="right">
                  {{ esp.detalle }}
                </mat-option>
                <mat-option *ngIf="!filterEspecialidades || filterEspecialidades == 0" [value]="null" matTooltipPosition="right">
                  No se encontraron especialidades
                </mat-option>
              </mat-autocomplete>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection('especialidad', true)"
                matTooltip="Limpiar Seleccion" *ngIf="especialidadCtrl.value && especialidadCtrl.value.idEspecialidad && !loadingEspecialidades">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-12"
            *ngIf="(tipoConsulta == 'especialidad' && especialidadSelected) && loadedServ">
            <mat-form-field class="full" appearance="fill" [color]="primary">
              <mat-label>Seleccione un Servicio</mat-label>
              <input matInput type="text"
                placeholder="Puede buscar por nombre del Servicio"
                [formControl]="servicioCtrl" [matAutocomplete]="auto" autocomplete="off">
              <mat-icon matPrefix style="margin-right: 10px">add_to_photos</mat-icon>
              <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayTextAutocomplete"
                (optionSelected)="servicioSelection($event)">
                <mat-option *ngFor="let serv of filterServicios | async" [value]="serv"
                matTooltipPosition="right">
                {{ serv.nombreServicio }}
              </mat-option>

              </mat-autocomplete>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection('servicio', true)"
                matTooltip="Limpiar Seleccion" *ngIf="servicioCtrl.value && servicioCtrl.value.idServicio">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-12" *ngIf="((especialidadSelected && tipoConsulta == 'profesional') || (servicioSelected && tipoConsulta == 'especialidad')) && centrosAtencion.length > 0 && loadedCen">
            <mat-form-field class="full" appearance="fill" [color]="primary">
              <mat-label>Seleccione un Centro de Atención</mat-label>
              <mat-icon matPrefix style="margin-right: 10px">apartment</mat-icon>
              <input matInput type="text" placeholder="Puede buscar por nombre del Centro"
                [formControl]="centroAtencionCtrl" [matAutocomplete]="auto" autocomplete="off">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTextAutocomplete"
                (optionSelected)="centroAtencionSelection($event)">
                <mat-option *ngFor="let cet of filterCentrosAtencion | async" [value]="cet"
                  matTooltipPosition="right">
                  {{ cet.detalle }}
                </mat-option>
              </mat-autocomplete>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection('centros')"
                matTooltip="Limpiar Seleccion" *ngIf="centroAtencionCtrl.value">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col-lg-6 col-md-12" *ngIf="tipoConsulta == 'profesional' && !loadedProf" >
              <p class="nores" style="position: relative; padding-left:70px;">              
                <mat-spinner [diameter]="40" style="position: absolute; left:15px; top:10px;"></mat-spinner>
                Cargando, por favor espere... 
              </p>
          </div>

          <div class="col-lg-6 col-md-12" *ngIf="tipoConsulta == 'especialidad' && !loadedEsp" >
              <p class="nores" style="position: relative; padding-left:70px;">              
                <mat-spinner [diameter]="40" style="position: absolute; left:15px; top:10px;"></mat-spinner>
                Cargando, por favor espere... 
              </p>
          </div>

          <div class="col-lg-6 col-md-12" *ngIf="tipoConsulta == 'profesional' && profesionalSelected && !loadedEsp" >
              <p class="nores" style="position: relative; padding-left:70px;">              
                <mat-spinner [diameter]="40" style="position: absolute; left:15px; top:10px;"></mat-spinner>
                Cargando, por favor espere... 
              </p>
          </div>

          <div class="col-lg-6 col-md-12" *ngIf="tipoConsulta == 'profesional' && profesionales.length == 0 && loadedProf">
            <p class="nores">No existen Profesionales disponibles </p>
          </div>

          <div class="col-lg-6 col-md-12"
            *ngIf="((tipoConsulta == 'especialidad' && especialidades.length == 0) || (profesionalSelected && especialidades.length == 0)) && loadedEsp ">
            <p class="nores">No existen Especialidades disponibles </p>
          </div>

          <div class="col-lg-6 col-md-12"
            *ngIf="especialidadSelected && centrosAtencion.length == 0 && loadedCen">
            <p class="nores">No existen Centros Médicos disponibles </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="info-busqueda bg-purple" *ngIf="profesionalSelected || especialidadSelected || centroAtencionSelected">
  <span *ngIf="profesionalSelected"> Profesional: <b>{{ profesionalSelected.nombreProfesional }}</b></span>
  <span *ngIf="especialidadSelected"> Especialidad: <b>{{ especialidadSelected.nombreEspecialidad }} -
      {{ especialidadSelected.nombreServicio }}</b></span>
  <span *ngIf="centroAtencionSelected"> Centro de Atención: <b>{{ centroAtencionSelected.nombreEspecialidad }} -
      {{ centroAtencionSelected.nombre }}</b> </span>
  <button mat-raised-button class="full-btn" *ngIf="especialidadSelected && centroAtencionSelected"
    (click)="buscarHora()">BUSCAR HORA</button>
</p>
