<div class="hdr">
    <h5>Complete las preguntas que se muestran a continuación.</h5>
    <!-- <span class="tpp">{{ curPregunta }}/{{ preguntas.length }}</span> -->
 </div>
<mat-dialog-content>
    <div class="questionList">
        <div *ngFor="let item of [].constructor(preguntas.length - 1); let i = index" style="margin-bottom:25px">
            <h4><b>{{ i + 1 }})</b> ¿Esta es una pregunta referente al examen de radiología?</h4>
            <mat-radio-group>
                <div>
                    <mat-radio-button color="primary" value="1">Dada todas las opciones marcadas</mat-radio-button>
                </div>
                <div>
                    <mat-radio-button color="primary" value="2">Opción 1</mat-radio-button>
                </div>  
                <div>
                    <mat-radio-button color="primary" value="2">Opción 2</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    
    </div>
</mat-dialog-content>
