<div class="mdAsoc">
</div>
<div class="carouselConfig">
    <span class="iniText">{{ title }}</span>

    <div fxLayout="row">
        <div fxFlex="45px" fxFlex.sm="0px" fxFlex.xs="0px" style="position: relative;">
            <div (click)="slickModal.slickPrev()" class="btn-nav" matRipple>
                <i class="fas fa-angle-left"></i>
            </div>
        </div>
        <div fxFlex="100%">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let med of medicosAsociados" class="slide">
                    <div class="itmslide">
                        <div fxLayout="row" fxLayoutGap="0px">
                            <div fxFlex="50%">
                                <img [src]="med?.profesional?.urlImagenProfesional" alt="" width="80%">
                            </div>
                            <div fxFlex="50%">
                                <span class="smtxt">{{ med?.profesional.nombreProfesional }}</span>
                                <span class="block">
                                    <span class="lbl">Próxima Hora</span>
                                     <span class="des">03/07/2020 13:30</span>
                                </span>
                                <span class="block">
                                    <span class="lbl">Centro de Atención</span>
                                     <span class="des mh" >Clínica San Carlos de Apoquindo</span>
                                </span>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="50%" style="text-align: center;">
                                <button mat-stroked-button class="btn-morado btng" (click)="buscarCalendario(med)">
                                    VER PERFIL
                                </button>
                            </div>
                            <div fxFlex="50%" style="text-align: center;">
                                <button mat-stroked-button class="btn-azul btng" (click)="buscarCalendario(med)">
                                    PEDIR HORA
                                </button>
                            </div>                                                                        
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
        <div fxFlex="45px" fxFlex.sm="0px" fxFlex.xs="0px" style="position: relative;">
            <div (click)="slickModal.slickNext()" class="btn-nav" matRipple>
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
    </div> 
</div>
