<div class="carouselConfig">
    <span class="iniText" *ngIf="recursos.length > 0">{{ title }}</span>
    <!-- <mat-spinner [diameter]="30" style="margin:30px auto" *ngIf="loading"></mat-spinner> -->

    <div fxLayout="row" *ngIf="!loading && displayRecursos && recursos.length > 0">
        <div fxFlex="45px" fxFlex.sm="0px" fxFlex.xs="0px" style="position: relative;">
            <div (click)="slickModal.slickPrev()" class="btn-nav" matRipple>
                <i class="fas fa-angle-left"></i>
            </div>
        </div>
        <div fxFlex="100%">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <ng-container *ngFor="let re of recursos">
                    <div ngxSlickItem class="slide">
                        <div class="itmslide">
                            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                <div fxFlex="60%">
                                    <span class="smtxt">{{ re.nombre }}</span>
                                </div>
                                <div fxFlex="39%">
                                    <img [src]="re.urlImagenProfesional" alt="" width="100%">
                                </div>
                            </div>
                            <div style="margin:-25px 0px 15px 0px">
                                <span class="block">
                                    <mat-icon>schedule</mat-icon>
                                    <span class="lbl">Próxima Hora</span>
                                    <span class="des">{{ re.proximaHoraDisponible.cupo.horaEpoch * 1000 | toLocalScl: re.proximaHoraDisponible?.cupo.compensacion : 'DD/MM/YYYY  HH:mm'}}</span>
                                </span>
                                <span class="block">
                                    <mat-icon>location_city</mat-icon>
                                    <span class="lbl">Centro de Atención</span>
                                    <span class="des mh">{{ re.proximaHoraDisponible.centro.nombre }}</span>
                                </span>
                            </div>
                            <div fxLayout="row">
                                <div fxFlex="50%" style="text-align: center;">
                                    <button mat-stroked-button class="btn-morado btng" (click)="utils.verPerfilProfesional(re)">
                                        VER PERFIL
                                    </button>
                                </div>
                                <div fxFlex="50%" style="text-align: center;">
                                    <button mat-stroked-button class="btn-azul btng" (click)="buscarCalendario(re)">
                                        VER HORAS
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </ngx-slick-carousel>
        </div>
        <div fxFlex="45px" fxFlex.sm="0px" fxFlex.xs="0px" style="position: relative;">
            <div (click)="slickModal.slickNext()" class="btn-nav" matRipple>
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>