<div class="wrap">
  <div class="resultados-para" *ngIf="listaEspera">
    <div>
      <h3>{{ busquedaInicial.especialidad.nombreEspecialidad }}
        <span class="spec">{{ busquedaInicial.especialidad.nombreServicio }} (Lista de Espera)</span>
      </h3>
      <div class="box-le">
        <span *ngIf="listaEspera.id && listaEsperaSeleccion.profesional !== 'NA'">Esta lista de espera corresponde
          específicamente a <b style="font-weight: bold;">{{ listaEspera.nombre }}</b>,
          en caso de querer tomar hora con otro especialista, modifíquelo directamente en el siguiente paso.</span>
        <span *ngIf="listaEsperaSeleccion.profesional === 'NA' || !listaEspera.id">Esta lista de espera <b
            style="font-weight: bold;">NO
            CORRESPONDE A ALGÚN ESPECIALISTA EN PARTICULAR</b>,
          en caso de querer tomar hora con algún especialista, modifíquelo directamente en el siguiente paso.</span>
      </div>
    </div>
  </div>

  <div class="resultados-para" *ngIf="isProcedimiento">
    <div>
      <h3>{{ busquedaInicial.area.nombre }}
        <span class="spec">{{ busquedaInicial.especialidad.nombreEspecialidad }} -
          {{ busquedaInicial.especialidad.nombreServicio }}</span>
      </h3>
    </div>
  </div>

  <div *ngIf="!isProcedimiento && !listaEspera && calendario" class="idt-info">
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <div fxFlex="60%" fxFlex.sm="100%" fxFlex.xs="100%">
        <p>{{ busquedaInicial.area.id === 'RIS_IMAGENES' ? 'Examen' : 'Profesional'}}: <b>{{ calendario.recurso.nombre }}</b></p>
      </div>
      <div fxFlex="38%" fxFlex.sm="100%" fxFlex.xs="100%">
        <p>Fecha:
          <b>{{ calendario.cupo.fechaHora | toLocalScl: calendario.cupo.compensacion : 'dddd DD [de] MMMM [de] YYYY'}}</b>
        </p>
      </div>

      <div fxFlex="60%" fxFlex.sm="100%" fxFlex.xs="100%">
        <p>Especialidad: <b>{{ busquedaInicial.especialidad.detalle ?  busquedaInicial.especialidad.detalle : busquedaInicial.especialidad.nombreEspecialidad}}</b></p>
      </div>
      <div fxFlex="38%" fxFlex.sm="100%" fxFlex.xs="100%">
        <p>Hora: <b>{{ calendario.cupo.fechaHora | toLocalScl: calendario.cupo.compensacion : 'HH:mm'}} Horas</b></p>
      </div>

      <div fxFlex="60%" fxFlex.sm="100%" fxFlex.xs="100%">
        <p>Centro de Atención: <b>{{ calendario.cupo.centro.nombre }}</b></p>
      </div>
      <div fxFlex="38%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf="calendario.cupo?.valorConvenio && calendario.cupo?.valorConvenio?.toString().trim() != '0'">
        <p>Valor Convenio *:
          <b>${{ calendario.cupo?.valorConvenio | currency:'CLP':'' }}</b>
          
        </p>
        <p style="font-size: 12px; line-height: 18px;">(*) El valor convenio es referencial para la previsión seleccionada. El copago a cancelar por el paciente, puede cambiar según su plan de salud y cobertura.</p>

      </div>
    </div>
  </div>

  <div class="seccion-c">
    <div class="info-paciente">
      <h5 *ngIf="busquedaInicial?.fromCuposInmediatos">{{ identifText }}</h5>
      <div *ngIf="paciente">
        <div class="row">
          <div class="col-md-12">
            <p class="datos-usuario">
              {{ paciente.nombreCompleto }} | {{ busquedaPaciente.tipoDocumento == 'PAS' ? 'Pasaporte' : 'RUT' }}:
              {{ paciente.numeroDocumentoFormateado }}
               <button mat-icon-button class="rmvBtn" (click)="limpiarFormulario(true)" *ngIf="paciente && !busquedaInicial?.documentoPaciente?.idPaciente">
                <mat-icon>close</mat-icon>
              </button>
            </p>
          </div>
        </div>
      </div>
      
      <div class="row" style="margin-top:20px;" *ngIf="!paciente && !busquedaInicial?.documentoPaciente?.idPaciente">
        <div class="col-md-4">
          <mat-form-field class="full bgwhite-input" appearance="fill" >
            <mat-label>Tipo de Documento</mat-label>
            <mat-select [(ngModel)]="busquedaPaciente.tipoDocumento" [disabled]="!paciente && findPaciente"
              (selectionChange)="busquedaPaciente.documentoFormateado = null">
              <mat-option [value]="'RUN'">RUN</mat-option>
              <mat-option [value]="'PAS'">PASAPORTE</mat-option>
            </mat-select>
            <mat-icon matSuffix>list</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full bgwhite-input" appearance="fill" >
            <mat-label>Indique su Identificación</mat-label>
            <input matInput maxlength="{{ (busquedaPaciente.tipoDocumento == 'PAS') ? 15 : null }}"
              [(ngModel)]="busquedaPaciente.documentoFormateado" (focusout)="setFormatRut()"
              (focusin)="restoreFormatRut()" (keyup)="eventEnter($event, 'buscarPaciente')"
              placeholder="{{ (busquedaPaciente.tipoDocumento == 'RUN') ? 'Rut sin puntos ni guión' : 'Pasaporte'}}"
              autocomplete="off" [disabled]="!paciente && findPaciente" />
            <mat-icon matSuffix>chrome_reader_mode</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <button mat-stroked-button class="full-btn btn-purple" (click)="buscarPaciente()"
            *ngIf="!paciente && !findPaciente">Siguiente</button>
          <button mat-raised-button class="full-btn btn-purple" (click)="limpiarFormulario()"
            *ngIf="!paciente && findPaciente">Nueva Búsqueda</button>
        </div>
      </div>

      <div class="row" style="margin-top:20px;" *ngIf="paciente && !listaEspera && !isProcedimiento">
        <div class="col-md-4 field-margin">
          <mat-form-field class="full bgwhite-input" appearance="fill">
            <mat-label>Prevision</mat-label>
            <mat-select [(ngModel)]="busquedaPaciente.prevision" [compareWith]="utils.compareFn" (selectionChange)="cambioPrevision()" [disabled]="busquedaInicial.fromSaludIntegral">
              <mat-optgroup [label]="'Previsión Recomendada'">
                <mat-option *ngFor="let com of planesSalud.companias" [value]="com.planes[0]">
                  {{com.planes[0]?.nombrePlan}}
                </mat-option>
              </mat-optgroup>
              <mat-optgroup [label]="'Otras Previsiones'">
                <mat-option *ngFor="let com of planesSalud.companiasExtendido" [value]="com.planes[0]">
                  {{com.planes[0]?.nombrePlan}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
            <mat-icon matSuffix>local_hospital</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-4 field-margin">
          <mat-form-field class="full bgwhite-input" appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="56912345678" (keyup)="eventEnter($event, 'procesarPaciente')" maxlength="11"
              [(ngModel)]="busquedaPaciente.telefono" (keypress)="this.utils.numberOnly($event)" (focusout)="focusOutTelefono()" onpaste="return false;"
              autocomplete="off" />
            <mat-icon matSuffix>local_phone</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-4 field-margin">
          <mat-form-field class="full bgwhite-input" appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="nombre@mail.com" (keyup)="eventEnter($event, 'procesarPaciente')"
              [(ngModel)]="busquedaPaciente.correo" (focusout)="focusOutCorreo()" autocomplete="off" />
            <mat-icon matSuffix>mail_outline</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-9 field-margin" *ngIf="!editDir">
          <p class="dirInfo">
            <span class="dirLabel">Dirección</span>
            {{ busquedaPaciente.direccion ? busquedaPaciente.direccion : 'No tiene una dirección registrada.' }}
          </p>

        </div>
        <div class="col-md-3 field-margin" *ngIf="!editDir">
          <span class="isLink" (click)="cambiarDireccion()">Cambiar Dirección</span>
        </div>

        <div class="col-md-12 field-margin" *ngIf="editDir">
          <ng-container *ngTemplateOutlet="formUpdDir"></ng-container>
        </div>

        <div class="col-md-12 fild-margin conf-reserv" *ngIf="!editDir && confirmarReservaEnable" style="text-align: center;" >
          <button appDebounceClick (debounceClick)="procesarPaciente()"e mat-stroked-button class="btn-azul bigbtn cus-pad nopadright"
            style="margin-right:15px">CONFIRMAR RESERVA</button>
        </div>
      </div>

      <div class="row" style="margin-top:20px;" *ngIf="paciente && listaEspera">
        <ng-container *ngTemplateOutlet="listaEsperaTemplate"></ng-container>
      </div>

      <div class="row" style="margin-top:20px;" *ngIf="paciente && isProcedimiento">
        <ng-container *ngTemplateOutlet="procedimientosTemplate"></ng-container>
      </div>

      <div *ngIf="!paciente && findPaciente">
        <form [formGroup]="pacienteForm" #formDirective="ngForm" (keyup)="eventEnter($event, 'buscarPaciente')">
          <div>
            <p>Ingrese sus datos para otorgarle un mejor servicio</p>
            <div class="row" style="margin-top:20px;">
              <div class="col-md-4 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill">
                  <mat-label>Nombres</mat-label>
                  <input matInput formControlName="nombre" required autocomplete="off" />
                  <mat-icon matSuffix>format_quote</mat-icon>
                  <mat-error *ngIf="revPacienteForm.nombre.errors">
                    <span *ngIf="revPacienteForm.nombre.errors.required">Campo Obligatorio</span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill">
                  <mat-label>Apellido Paterno</mat-label>
                  <input matInput formControlName="apellido_paterno" required autocomplete="off" />
                  <mat-icon matSuffix>format_quote</mat-icon>
                  <mat-error *ngIf="revPacienteForm.apellido_paterno.errors">
                    <span *ngIf="revPacienteForm.apellido_paterno.errors.required">Campo Obligatorio</span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill">
                  <mat-label>Apellido Materno</mat-label>
                  <input matInput formControlName="apellido_materno" required autocomplete="off" />
                  <mat-icon matSuffix>format_quote</mat-icon>
                  <mat-error *ngIf="revPacienteForm.apellido_materno.errors">
                    <span *ngIf="revPacienteForm.apellido_materno.errors.required"
                      style="font-size: 10px !important;">Campo
                      Obligatorio, si no tiene ingrese un punto (.)</span>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill" (click)="picker.open()">
                  <mat-label>Fecha de Nacimiento</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento" [max]="today" readonly
                    required>
                  <mat-icon matSuffix>calendar_today</mat-icon>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="revPacienteForm.fecha_nacimiento.errors">
                    <span *ngIf="revPacienteForm.fecha_nacimiento.errors.required">Campo Obligatorio</span>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill">
                  <mat-label>Sexo</mat-label>
                  <mat-select formControlName="sexo" required>
                    <mat-option [value]="'F'">Femenino</mat-option>
                    <mat-option [value]="'M'">Masculino</mat-option>
                  </mat-select>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="revPacienteForm.sexo.errors">
                    <span *ngIf="revPacienteForm.sexo.errors.required">Campo Obligatorio</span>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill">
                  <mat-label>Prevision</mat-label>
                  <mat-select formControlName="prevision">
                    <ng-container *ngFor="let com of planesSalud.companias">
                      <mat-option *ngFor="let plan of com.planes" [value]="plan">
                        {{plan.nombrePlan}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                  <mat-icon matSuffix>local_hospital</mat-icon>
                  <mat-error *ngIf="revPacienteForm.prevision.errors">
                    <span *ngIf="revPacienteForm.prevision.errors.required">Campo Obligatorio</span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill">
                  <mat-label>Teléfono</mat-label>
                  <input matInput placeholder="56912345678" formControlName="fono_movil" maxlength="11" required
                    (keypress)="utils.numberOnly($event, true)" autocomplete="off" />
                  <mat-icon matSuffix>local_phone</mat-icon>
                  <mat-error *ngIf="revPacienteForm.fono_movil.errors">
                    <span *ngIf="revPacienteForm.fono_movil.errors.required">Campo Obligatorio</span>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-8 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill">
                  <mat-label>Correo</mat-label>
                  <input matInput placeholder="nombre@mail.com" formControlName="email" required autocomplete="off" />
                  <mat-icon matSuffix>mail_outline</mat-icon>
                  <mat-error *ngIf="revPacienteForm.email.errors">
                    <span *ngIf="revPacienteForm.email.errors.required">Campo Obligatorio</span>
                    <span *ngIf="revPacienteForm.email.errors.email">Formato de Correo Inválido</span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div>
            <p>Ingrese su dirección de residencia. Si su país no aparece en la lista favor ingresar Chile, 
              Región Metropolitana, Alhué, Calle: NN Número: 1234</p>
            <div class="row">
              <div class="col-md-4 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill">
                  <mat-label>País</mat-label>
                  <mat-select formControlName="dir_pais" required (selectionChange)="getRegiones($event.codigo)">
                    <ng-container *ngFor="let pais of paises">
                      <mat-option [value]="pais">{{ pais.nombre }}</mat-option>
                    </ng-container>
                  </mat-select>
                  <mat-icon matSuffix>map</mat-icon>
                </mat-form-field>
              </div>

              <div class="col-md-4 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill">
                  <mat-label>Región</mat-label>
                  <mat-select formControlName="dir_region" required (selectionChange)="getComunas($event)">
                    <ng-container *ngFor="let region of regiones">
                      <mat-option [value]="region">{{ region.nombre }}</mat-option>
                    </ng-container>
                  </mat-select>
                  <mat-icon matSuffix>map</mat-icon>
                  <mat-error *ngIf="revPacienteForm.dir_region.errors">
                    <span *ngIf="revPacienteForm.dir_region.errors.required">Campo Obligatorio</span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill">
                  <mat-label>Comuna</mat-label>
                  <mat-select formControlName="dir_comuna" required>
                    <ng-container *ngFor="let comuna of comunas">
                      <mat-option [value]="comuna.nombre">{{ comuna.nombre }}</mat-option>
                    </ng-container>                  </mat-select>
                  <mat-icon matSuffix>near_me</mat-icon>
                  <mat-error *ngIf="revPacienteForm.dir_comuna.errors">
                    <span *ngIf="revPacienteForm.dir_comuna.errors.required">Campo Obligatorio</span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill">
                  <mat-label>Calle</mat-label>
                  <input matInput formControlName="dir_calle" required autocomplete="off" />
                  <mat-icon matSuffix>place</mat-icon>
                  <mat-error *ngIf="revPacienteForm.dir_calle.errors">
                    <span *ngIf="revPacienteForm.dir_calle.errors.required">Campo Obligatorio</span>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4 field-margin">
                <mat-form-field class="full bgwhite-input" appearance="fill">
                  <mat-label>Número</mat-label>
                  <input matInput formControlName="dir_numero" required autocomplete="off"  (keypress)="utils.numberOnly($event, true)" />
                  <mat-icon matSuffix>pin_drop</mat-icon>
                  <mat-error *ngIf="revPacienteForm.dir_numero.errors">
                    <span *ngIf="revPacienteForm.dir_numero.errors.required">Campo Obligatorio</span>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-8 field-margin">
                <button mat-stroked-button class="btn-azul cus-pad nopadright" (click)="guardarPaciente()">Guardar
                  Paciente</button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <ng-template #listaEsperaTemplate>

    <div class="col-md-6 field-margin">
      <p class="iff">
        <span class="lbll">Teléfono:</span>
        {{ busquedaPaciente.telefono}}
      </p>

    </div>
    <div class="col-md-6 field-margin">
      <p class="iff">
        <span class="lbll">Correo:</span>
        {{ busquedaPaciente.correo}}
      </p>

    </div>

  <div class="col-md-4 field-margin">
    <mat-form-field class="full bgwhite-input cusSelect" appearance="fill" >
      <mat-label>Profesional de Preferencia <span style="color:red;font-size: 16px;">*</span></mat-label>
      <mat-select [(ngModel)]="listaEsperaSeleccion.profesional" (selectionChange)="selectProfesional($event)">
        <mat-option [value]="'NA'" class="mat-option-smtext">NO TENGO UNA PREFERENCIA</mat-option>
        <ng-container *ngFor="let prof of profesionales">
          <mat-option [value]="prof" class="mat-option-smtext">{{ prof.nombreProfesional }}</mat-option>
        </ng-container>
      </mat-select>
      <mat-icon matSuffix>school</mat-icon>
    </mat-form-field>
  </div>
  <div class="col-md-4 field-margin">
    <mat-form-field class="full bgwhite-input cusSelect" appearance="fill" >
      <mat-label>Centro Médico de Preferencia <span style="color:red;font-size: 16px;">*</span></mat-label>
      <mat-select [(ngModel)]="listaEsperaSeleccion.centro" [disabled]="!listaEsperaSeleccion.profesional">
        <mat-option [value]="'NA'" class="mat-option-smtext" *ngIf="centros.length > 1">NO TENGO UNA PREFERENCIA
        </mat-option>
        <ng-container *ngFor="let cet of centros">
          <mat-option [value]="cet" class="mat-option-smtext">{{ cet.nombre }}</mat-option>
        </ng-container>
      </mat-select>
      <mat-icon matSuffix>apartment</mat-icon>
    </mat-form-field>
  </div>
  <div class="col-md-4 field-margin">
    <mat-form-field class="full bgwhite-input cusSelect" appearance="fill" >
      <mat-label>Horario de Preferencia <span style="color:red;font-size: 16px;">*</span></mat-label>
      <mat-select [(ngModel)]="listaEsperaSeleccion.horario">
        <mat-option [value]="'Ninguno'" class="mat-option-smtext">NO TENGO UNA PREFERENCIA</mat-option>
        <mat-option [value]="'AM'" class="mat-option-smtext">AM</mat-option>
        <mat-option [value]="'PM'" class="mat-option-smtext">PM</mat-option>
      </mat-select>
      <mat-icon matSuffix>schedule</mat-icon>
    </mat-form-field>
  </div>


    <div class="col-md-8">
      <p class="wtxt">Campos marcados con * son obligatorios.</p>
    </div>

    <div class="col-md-4 field-margin">
      <button mat-raised-button color="primary" class="full-btn full btnc" (click)="procesarListaDeEspera()"
        style="margin-right:15px">Confirmar Inscripción</button>
    </div>
  </ng-template>

  <ng-template #procedimientosTemplate>

    <div class="col-md-4 field-margin">
      <p class="iff">
        <span class="lbll">Teléfono:</span>
        {{ busquedaPaciente.telefono}}
      </p>
      <div class="chkb">
        <mat-checkbox color="primary" [(ngModel)]="procedimientoSeleccion.celularPref"
          (change)="changeContacto($event, 'phone')"></mat-checkbox>
        <span>Definir mi teléfono celular como medio de contacto de preferencia.</span>
      </div>
    </div>
    <div class="col-md-4 field-margin">
      <p class="iff">
        <span class="lbll">Correo:</span>
        {{ busquedaPaciente.correo}}
      </p>
      <div class="chkb">
        <mat-checkbox color="primary" [(ngModel)]="procedimientoSeleccion.correoPref"
          (change)="changeContacto($event, 'email')"></mat-checkbox>
        <span>Definir mi Correo Electrónico como medio de contacto de preferencia.</span>
      </div>
    </div>

    <div class="col-md-4 field-margin">
      <p matRipple class="btnOM" (click)="openInputFile()" *ngIf="!procedimientoSeleccion.archivo">
        <mat-icon class="iic">publish</mat-icon>
        <span>Haz clic aquí para</span>
        ADJUNTAR ORDEN MÉDICA
      </p>
      <p class="btnOM suc" *ngIf="procedimientoSeleccion.archivo">
        <button mat-icon-button class="rmvFile" (click)="borrarArchivo()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-icon class="iic">done</mat-icon>
        <span>{{ procedimientoSeleccion.archivo.displayName}}</span>
        ORDEN MÉDICA CARGADA
      </p>
      <div class="chkb">
        <span style="padding:0px !important;">Solo se permiten archivos en formato PNG, JPG y PDF.</span>
      </div>
      <input type="file" id="ordenmedica" hidden (change)="fileChange($event.target.files)">
    </div>

    <div class="col-md-4 field-margin">
      <mat-form-field class="full bgwhite-input cusSelect" appearance="fill">
        <mat-label>Centro Médico de Preferencia *</mat-label>
        <mat-select [(ngModel)]="procedimientoSeleccion.centro">
          <ng-container *ngFor="let cet of centros">
            <mat-option [value]="cet" class="mat-option-smtext">{{ cet.nombre }}</mat-option>
          </ng-container>
        </mat-select>
        <mat-icon matSuffix>apartment</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-md-4 field-margin">
      <mat-form-field class="full bgwhite-input cusSelect" appearance="fill">
        <mat-label>Horario de Preferencia *</mat-label>
        <mat-select [(ngModel)]="procedimientoSeleccion.horario">
          <mat-option [value]="'Ninguno'" class="mat-option-smtext">NO TENGO UNA PREFERENCIA</mat-option>
          <mat-option [value]="'AM'" class="mat-option-smtext">AM</mat-option>
          <mat-option [value]="'PM'" class="mat-option-smtext">PM</mat-option>
        </mat-select>
        <mat-icon matSuffix>schedule</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-md-4 field-margin">
      <mat-form-field class="full bgwhite-input cusSelect" appearance="fill">
        <mat-label>Prevision *</mat-label>
        <mat-select [(ngModel)]="procedimientoSeleccion.prevision" [compareWith]="utils.compareFn">
          <mat-optgroup *ngFor="let com of planesSalud" [label]="com.nombreCompania" class="mat-option-smtext">
            <mat-option *ngFor="let plan of com.planes" [value]="plan" class="mat-option-smtext">
              {{plan.nombrePlan}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-icon matSuffix>local_hospital</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-md-4 field-margin">
      <p class="wtxt" style="margin: 0px; margin-top:10px;">Campos marcados con * son obligatorios.</p>
    </div>
    <div class="col-md-4 field-margin">
      <div class="chkb" style="margin-top:9px">
        <mat-checkbox color="primary" [(ngModel)]="procedimientoSeleccion.generarPresupuesto"></mat-checkbox>
        <span>Quiero generar un prespuesto antes de definir una hora para procedimiento.</span>
      </div>
    </div>
    <div class="col-md-4 field-margin">
      <button mat-raised-button color="primary" class="full-btn full btnc" (click)="procesarProcedimiento()"
        style="margin-right:15px">Solicitar Procedimiento</button>
    </div>
  </ng-template>

  <ng-template #formUpdDir>
    <p class="cwarn">
      Usted está actualizando su dirección de residencia. <br />
      Para guardar cambios haga clic en <b>"Actualizar Dirección"</b> sino en <b>"Cerrar"</b> para continuar con la reserva.</p>
    <p>Ingrese su dirección de residencia para actualizar. Si su país no aparece en la lista favor ingresar Chile, Región Metropolitana, Alhué, Calle: NN Número: 1234</p>
    <div class="row">
      <div class="col-md-4 field-margin">
        <mat-form-field class="full bgwhite-input" appearance="fill">
          <mat-label>País</mat-label>
          <mat-select [(ngModel)]="dirUpdate.pais"  [compareWith]="utils.compareFn" (selectionChange)="getRegiones($event.codigo)" >
              <mat-option *ngFor="let pais of paises" [value]="pais">{{ pais.nombre }}</mat-option>
          </mat-select>
          <mat-icon matSuffix>map</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-4 field-margin">
        <mat-form-field class="full bgwhite-input" appearance="fill">
          <mat-label>Región</mat-label>
          <mat-select [(ngModel)]="dirUpdate.region"  [compareWith]="utils.compareFn" (selectionChange)="getComunas($event)">
              <mat-option *ngFor="let region of regiones" [value]="region">{{ region.nombre }}</mat-option>
          </mat-select>
          <mat-icon matSuffix>map</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-4 field-margin">
        <mat-form-field class="full bgwhite-input" appearance="fill">
          <mat-label>Comuna</mat-label>
          <mat-select [(ngModel)]="dirUpdate.comuna" required>
            <ng-container *ngFor="let comuna of comunas">
              <mat-option [value]="comuna.nombre">{{ comuna.nombre }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-icon matSuffix>near_me</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-4 field-margin">
        <mat-form-field class="full bgwhite-input" appearance="fill">
          <mat-label>Calle</mat-label>
          <input matInput  [(ngModel)]="dirUpdate.calle" required autocomplete="off" />
          <mat-icon matSuffix>map</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-4 field-margin">
        <mat-form-field class="full bgwhite-input" appearance="fill">
          <mat-label>Número</mat-label>
          <input matInput [(ngModel)]="dirUpdate.numero" required autocomplete="off"  (keypress)="utils.numberOnly($event, true)" />
          <mat-icon matSuffix>pin_drop</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-12 field-margin" style="text-align: center;">
        <button mat-stroked-button class="btn-morado cus-pad nopadright" (click)="cerrarDir()" style="margin-right:20px">Cerrar</button>
        <button mat-stroked-button class="btn-azul cus-pad nopadright" (click)="actualizarDir()">Actualizar Dirección</button>
      </div>

    </div>
  </ng-template>
</div>
