<div class="bgmain ctma">
    <div class="cnt-srch">
        <h3>INGRESA A LA AGENDA</h3>
        <div class="fmrut">
            <mat-form-field class="full bgwhite-input" appearance="outline">
                <mat-label>Rut del Paciente</mat-label>
                <input matInput maxlength="15"
                    [formControl]="documentoFC" (focusout)="setFormatRut()"
                    (focusin)="restoreFormatRut()"
                    placeholder="Rut sin puntos ni guión" autocomplete="off"  />
                  <mat-error *ngIf="documentoFC?.errors?.required">
                    El rut es requerido.
                  </mat-error>
                  <mat-error *ngIf="documentoFC?.errors?.invalidRut">
                    EL rut {{ documentoFC.value }} ingresado no es válido. 
                  </mat-error>
                  <mat-error *ngIf="documentoFC?.errors?.notFoundRut">
                    El rut {{ documentoFC.value }} no corresponde al de un beneficiario.
                  </mat-error>
            </mat-form-field>

            <mat-form-field class="full bgwhite-input" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" [formControl]="clave"  autocomplete="off"  />
                <mat-error *ngIf="clave?.errors?.required">
                  La contraseña es requerido.
                </mat-error>

          </mat-form-field>
            <button mat-stroked-button class="btn-continue" (click)="buscarRut()">
                INGRESAR
            </button>

        </div>
    </div>
</div>