<footer>
	<div class="wrap">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="m-footer">
					<h3>ACCESOS DIRECTOS</h3>
					<ul>
						<li><a href="#">Reserva tu hora</a></li>
						<li><a href="#">Pide tu presupuesto</a></li>
						<li><a href="#">Haz tu pre ingreso</a></li>
						<li><a href="#">Resultados Laboratorio</a></li>
						<li><a href="#">Resultado Imágenes</a></li>
						<li><a href="#">Paga tu cuenta hospitalaria </a></li>
						<li><a href="#">Contrata tu plan de salud </a></li>
						<li><a href="#">Busca tu doctor</a></li>
						<li><a href="#">Especialidades</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="m-footer">
					<h3>CONTÁCTANOS</h3>

					<div class="item-contacto">
						<div class="ic-contacto">
							<img src="/assets/images/ic-f1.png" />
						</div>
						<p>Mesa Central<span>22 676 7000</span></p>
					</div>
					<div class="item-contacto">
						<div class="ic-contacto">
							<img src="/assets/images/ic-f1.png" />
						</div>
						<p>Urgencia<span>22 676 7000</span></p>
					</div>
					<div class="item-contacto">
						<div class="ic-contacto">
							<img src="/assets/images/ic-f1.png" />
						</div>
						<p>Clínica San Carlos<span>22 754 8700</span></p>
					</div>
					<div class="item-contacto">
						<div class="ic-contacto">
							<img src="/assets/images/ic-f2.png" />
						</div>
						<p>Email<span>contacto@reduc.cl</span></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="m-footer">
					<h3>SÍGUENOS</h3>
					<div class="redes-footer">
						<a href="#"><img src="/assets/images/rs1.png" /></a>
						<a href="#"><img src="/assets/images/rs2.png" /></a>
						<a href="#"><img src="/assets/images/rs3.png" /></a>
						<a href="#"><img src="/assets/images/rs4.png" /></a>
						<a href="#"><img src="/assets/images/rs5.png" /></a>
						<a href="#"><img src="/assets/images/rs6.png" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<section class="newsletter">
	<img src="/assets/images/logo-footer.png" class="logo-footer" />
	<img src="/assets/images/fig-footer.png" class="fig-footer" />
	<img src="/assets/images/borde-footer.png" class="borde-footer" />
	<div class="wrap">
		<div class="row">
			<div class="col-md-6">
				<div class="texto-news">
					<h4>SUSCRÍBETE A NUESTRO NEWSLETTER</h4>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
				</div>
			</div>
			<div class="col-md-6 text-right">
				<div class="form-news">
					<input type="text" placeholder="Ingresa tu Email" />
					<button type="submit">ENVIAR</button>
				</div>
			</div>
		</div>
	</div>
</section>
