<div class="footerItem">
<footer>
	<div class="wrap">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="m-footer">
					<h3>ACCESOS DIRECTOS</h3>
					<ul>
						<li><a href="/busca-tu-profesional/nuestros-profesionales">Nuestros Profesionales</a></li>
						<li><a href="/sistemas/acceso-web-medicos">Acceso Web Médicos</a></li>
						<li><a href="/sistemas/trabaja-con-nosotros">Trabaja con nosotros</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="m-footer">
					<h3>CONTÁCTANOS</h3>
					<div class="item-contacto">
						<div class="ic-contacto"><img alt="" src="assets/images/ic-f1.png"></div>
						<p>Mesa Central<a href="tel:226767000"><span>22 676 7000</span></a></p>
					</div>
					<div class="item-contacto">
						<div class="ic-contacto"><img alt="" src="assets/images/ic-f1.png"></div>
						<p>Rescate<a href="tel:800265265"><span>800 265 265</span></a></p>
					</div>
					<div class="item-contacto">
						<div class="ic-contacto"><img alt="" src="assets/images/ic-f2.png"></div>
						<p><a href="/contactanos"><span>Contáctanos</span></a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="m-footer">
					<h3>SÍGUENOS</h3>
					<div class="redes-footer new-size">
						<a href="https://www.facebook.com/UCCHRISTUS" target="_blank"><img alt=""
								src="assets/images/rs1.png"></a>
						<a href="https://www.instagram.com/ucchristus/?hl=es-la" target="_blank"><img alt=""
								src="assets/images/rs4.png"></a>
						<a href="https://twitter.com/ucchristus" target="_blank"><img alt="" src="assets/images/rs2.png"></a>
						<a href="https://cl.linkedin.com/company/red-de-salud-uc-christus" target="_blank"><img alt=""
								src="assets/images/rs5.png"></a>
						<a href="https://www.youtube.com/user/UCCHRISTUS" target="_blank"><img alt=""
								src="assets/images/rs3.png"></a>
						<a href="https://open.spotify.com/user/7x5ir8p8a0v5i0qnu1loj3xqi" target="_blank"><img alt=""
								src="assets/images/rs6.png"></a>
					</div>
					<div class="row sigue-logo mt-1">
						<div class="col-sm-12 col-lg-11">
							<figure>
								<a href="https://medicina.uc.cl/" target="blank"> <img alt="logo-fac-medicina-puc"
										class="img-fluid s" src="https://reduc.lfi.cl/assets/images/fac-medicina-uc.png">
								</a>
							</figure>
						</div>
					</div>
					<div class="row sigue-logo christus">
						<div class="col-lg-8">
							<figure>
								<a href="https://www.christushealth.org/" target="blank"> <img alt="logo-christus"
										class="img-fluid s" src="https://reduc.lfi.cl/assets/images/logo-christus.png">
								</a>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="owl-carousel carrusel-footer " fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="10px">
			<div class="item" fxFlex="175px" fxFlex.sm="30%">
				<a href="" target="_blank"> <img class="lazyload"
						data-src="https://d99b07o2p7vrz.cloudfront.net/images/default-source/default-album/logo_acreditacion_min_salud.jpg?sfvrsn=cb8e756b_0"
						alt="Acreditación" title="logo_acreditacion_min_salud"
						src="https://d99b07o2p7vrz.cloudfront.net/images/default-source/default-album/logo_acreditacion_min_salud.jpg?sfvrsn=cb8e756b_0"></a>
			</div>
			<div class="item" fxFlex="175px" fxFlex.sm="30%">
				<a href="http://ciet.uai.cl/" target="_blank"> <img class="lazyload"
						data-src="https://d99b07o2p7vrz.cloudfront.net/images/default-source/default-album/logo_best_place_to_innovate.jpg?sfvrsn=d85162c_0"
						alt="Best Place to Innovate" title="logo_best_place_to_innovate"
						src="https://d99b07o2p7vrz.cloudfront.net/images/default-source/default-album/logo_best_place_to_innovate.jpg?sfvrsn=d85162c_0"></a>
			</div>
			<div class="item" fxFlex="175px" fxFlex.sm="30%">
				<a href="https://www.reputationinstitute.com/global-reptrak-100" target="_blank"> <img class="lazyload"
						data-src="https://d99b07o2p7vrz.cloudfront.net/images/default-source/default-album/logo_reputation_institute.jpg?sfvrsn=8416bcbd_0"
						alt="Reputation Institute" title="logo_reputation_institute"
						src="https://d99b07o2p7vrz.cloudfront.net/images/default-source/default-album/logo_reputation_institute.jpg?sfvrsn=8416bcbd_0"></a>
			</div>
			<div class="item" fxFlex="175px" fxFlex.sm="30%">
				<a href="http://www.procalidad.cl/premio-nacional-de-satisfaccion-de-clientes-procalidad/"
					target="_blank"> <img class="lazyload"
						data-src="https://d99b07o2p7vrz.cloudfront.net/images/default-source/default-album/logo_pro_calidad.jpg?sfvrsn=b9495c3c_0"
						alt="Procalidad" title="logo_pro_calidad"
						src="https://d99b07o2p7vrz.cloudfront.net/images/default-source/default-album/logo_pro_calidad.jpg?sfvrsn=b9495c3c_0"></a>
			</div>
			<div class="item" fxFlex="175px" fxFlex.sm="30%">
				<a href="https://landing.praxis.cl/?gclid=CjwKCAjw1_PqBRBIEiwA71rmtbZerWhpkJUENwcKla58w-9wnNacIiRpzwpShuZcOLfHprCFpl_B8RoCx2cQAvD_BwE"
					target="_blank"> <img class="lazyload"
						data-src="https://d99b07o2p7vrz.cloudfront.net/images/default-source/default-album/logo_pxi.jpg?sfvrsn=990fe90e_0"
						alt="Praxis" title="logo_pxi"
						src="https://d99b07o2p7vrz.cloudfront.net/images/default-source/default-album/logo_pxi.jpg?sfvrsn=990fe90e_0"></a>
			</div>
			<div class="item" fxFlex="175px" fxFlex.sm="35%">
				<a href="https://www.gfk.com/es-cl/" target="_blank"> <img class="lazyload"
						data-src="https://d99b07o2p7vrz.cloudfront.net/images/default-source/default-album/logo_chile_3d.jpg?sfvrsn=f1c3e7_0"
						alt="Chile 3D" title="logo_chile_3d"
						src="https://d99b07o2p7vrz.cloudfront.net/images/default-source/default-album/logo_chile_3d.jpg?sfvrsn=f1c3e7_0"></a>
			</div>
		</div>
	</div>
</footer>

<div>
	<form action="/informacion-al-paciente/quienes-somos" method="POST" name="defaultForm">
		<section class="newsletter">
			<img class="lazyload logo-footer" data-src="images/logo-footer.png" src="/assets/images/logo-footer.png">
			<img class="lazyload fig-footer" data-src="images/fig-footer.png" src="/assets/images/fig-footer.png">
			<img class="lazyload borde-footer" data-src="images/borde-footer.png" src="/assets/images/borde-footer.png">
			<div class="wrap">
				<div class="row">
					<div class="col-md-6">
						<div class="texto-news">
							<h4>SUSCRÍBETE A NUESTRO NEWSLETTER</h4>
							<p>Si estás interesado en recibir por correo electrónico todas nuestras noticias y
								promociones, suscríbete aquí.</p>
						</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="form-news">
							<input class="" data-val="true" data-val-email="Email address is invalid"
								data-val-required="The Email field is required." id="Email" name="Email"
								placeholder="correo@ejemplo.com" type="email" value="">
							<button class="btn btn-primary" type="submit">Enviar</button>
						</div>
						<div class="has-error">
							<span class="help-block"><span class="field-validation-valid" data-valmsg-for="Email"
									data-valmsg-replace="true"></span></span>
						</div>
					</div>
				</div>
			</div>
		</section>
	</form>
</div>
</div>