<h2 mat-dialog-title>Recuperar Clave</h2>
<mat-dialog-content>
    
        <div class="dialog-spinner" *ngIf="loading">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
        <p *ngIf="!displayChangePass" class="aal">Para recuperar su contraseña. introduzca su rut y un código de verificación será enviado al
            correo electrónico registrado.</p>

        <div fxLayout="row wrap" fxLayoutAlign="space-between" *ngIf="!displayChangePass">
            <div fxFlex="100%">
                <mat-form-field class="full" appearance="outline">
                    <mat-label>RUT</mat-label>
                    <input type="text" matInput [(ngModel)]="documentoFormatted" maxlength="15"
                    (keypress)="utils.numberOnly($event, true)"
                    (focusout)="setFormatRut()"
                    (focusin)="restoreFormatRut()"
                    placeholder="Rut sin puntos ni guión" autocomplete="off" required>
                </mat-form-field>
            </div>
        </div>

        <p *ngIf="displayChangePass" class="aal">Una contraseña provisoria ha sido enviada a tu correo electrónico, con ella podrás crear una nueva contraseña.</p>
        <div *ngIf="displayChangePass">
            <mat-form-field class="full" appearance="outline">
                <mat-label>Ingresar Código de 6 Dígitos</mat-label>
                <input type="text" matInput [(ngModel)]="claveActual" maxlength="8"
                (keypress)="utils.numberOnly($event, true)" autocomplete="off" required>
            </mat-form-field>

            <mat-form-field class="full" appearance="outline">
                <mat-label>Ingrese una Nueva Contraseña</mat-label>
                <input type="password" matInput [(ngModel)]="claveNueva" autocomplete="off" required>
            </mat-form-field>
    
            <mat-form-field class="full" appearance="outline">
                <mat-label>Confirmar Nueva Contraseña</mat-label>
                <input type="password" matInput [(ngModel)]="confirmarClaveNueva" autocomplete="off" required>
            </mat-form-field>
        </div>


</mat-dialog-content>
<mat-dialog-actions align="end" style="margin:10px 0px 0px 0px" *ngIf="!loading">
    <button mat-stroked-button style="margin-right: 15px;" class="btnm" mat-dialog-close>SALIR</button>
    <button mat-stroked-button  class="btn-morado btnm cuspad" (click)="recuperar()" *ngIf="!displayChangePass">RECUPERAR CLAVE</button>
    <button mat-stroked-button  class="btn-morado btnm cuspad" (click)="cambiarClave()" *ngIf="displayChangePass">CAMBIAR CLAVE</button>

</mat-dialog-actions>
  
