.puntos-abajo{
    margin-top:25px;
}

.btn-sec-reservar{
  display: none;
  position: fixed;
  z-index: 9999;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.95);
  border-top: 1px solid #802e87;
  margin: 0px !important;

  .desc{
    text-align: left;
    font-size: 18px;
    color: #802e87;
    font-weight: 500; 
  }
  
  .btn-reser{
    padding: 15px 25px !important
  }

}

@media(max-width:'720px'){


  .btn-reser{
    margin: 0px auto;
    width: 70%;
    display: block;        
  }
  .desc-s{display: none;}

}

@media(max-width:'960px'){

    .btn-sec-reservar{
      display: block;
    }

    .no-left-line{
        border:none !important
    }

    .pylw{
      padding: 0px !important;
      margin-top: 20px;
    }

    .mtinf{
      margin-top:20px;
    }
}

.confirm-panel{

    display:none;
    margin-bottom:15px;

    .container-pn{
      overflow: hidden;
      background: #fff;
      padding: 20px;
      position: relative;
      .line-sp{
        position: absolute;
        width: 1px;
        height: 100%;
        right: 0px;
        top: 0px;
        background: #2a7de1;

      }
      p{
        margin: 0px 0px 10px;
        b{
            color: #2a7de1;
            margin-right: 10px;
        }
      }
    }
  
    ::ng-deep .mat-expansion-panel {
      box-shadow: none;
      background: #fff;
      border-radius: 0px !important;
      padding:0px;

      .mat-expansion-panel-header{
        height: 64px !important;;

        .mat-expansion-panel-header-title{
          border-radius: 0px;
          justify-content: center;
        }
        
        &.isBlue{
          background: #2a7de1;
          .mat-expansion-panel-header-title{
            color:#fff;
          }
          .mat-expansion-indicator::after{
            color:#fff;
          }
        }

        &.isYellow{
          background: #fed377;
          .mat-expansion-panel-header-title{
            color:#2a7de1;
            font-weight: bold;
            font-size: 14px !important;
          }
          .mat-expansion-indicator::after{
            color:#2a7de1;
          }
        }

      }
      .mat-expansion-panel-header-title{
      //  color:#2a7de1; 
        font-size: 16px;
        b{ margin-left: 10px; text-transform: uppercase; font-weight: bold;}
      }
  
      .mat-expansion-indicator::after{
        padding: 6px;
        color:#2a7de1;
        position: relative;
        top: -4px;
      }
  
      .mat-expansion-panel-body{
        padding:0px;
      }
  
    }

    @media(max-width: 960px){
        .line-sp{
            display: none;
        }
    }
}

.title-alert{
    max-width: 640px;
    margin: 0 auto 30px auto;
    text-align: center;
    color: #2a7de1;
    font-weight: bold;
}

.mensaje-exito{
  margin-top: 0px !important;
}

.ylw-cont{
  background: #fed377 !important;
  padding-top:0px !important
}
.cnt-info{
  border:1px solid #888
}

.pylw{
  padding: 0px 20px;
}

.verMas{
  position: absolute;
  background: #ccc;
  left: 0px;
  width: 100%;
  padding: 10px 20px;
  bottom: 0px;
  font-weight: bold;
  color: #2a7de1;
  background: rgb(254,211,119);
  cursor: pointer;

  &::before{
    content:'';
    width:100%;
    height:40px;
    background: rgb(254,211,119);
    background: linear-gradient(0deg, rgba(254,211,119,1) 0%, rgba(0,212,255,0) 100%);
    position: absolute;
    bottom:40px;
  }
}
