<section class="datos-reserva datos-r2" *ngIf="paciente && calendario && busquedaInicial">
  <div class="w-datos">
    <div class="header-datos">
      <h4>Revisa los datos antes de reservar</h4>
    </div>
    <div class="body-datos">
      <div class="row">
        <div class="col-lg-6">
          <p><b>Nombre:</b> {{ paciente.nombreCompleto }}</p>
          <p><b>RUT:</b> {{ paciente.numeroDocumentoFormateado }}</p>
          <p><b>Profesional:</b> {{ calendario.recurso.nombre }}</p>
          <p><b>Especialidad:</b> {{ busquedaInicial.especialidad.detalle }}</p>

        </div>
        <div class="col-lg-6 b-l">
          <p><b>Previsión:</b> {{ paciente.adicional.prevision.nombrePlan }}</p>
          <p><b>Hora de la cita:</b> {{ calendario.cupo.fechaHora | date:'dd/MM/yyyy HH:mm '}}</p>
          <p><b>Ubicación:</b> {{ calendario.cupo.nombreCentro }}</p>
          <p *ngIf="busquedaInicial.centroAtencion.codigo != 'todos'"><b>Dirección del centro:</b>{{ busquedaInicial.centroAtencion.direccion?.calle }},
            {{ busquedaInicial.centroAtencion.direccion?.numero }},
            {{ busquedaInicial.centroAtencion.direccion?.comuna }}</p>

        </div>
      </div>
    </div>
  </div>
  <!-- 
  <div class="puntos-abajo p2">
    <p><span>(*)</span> Atiende pacientes mayores a 18 años</p>
    <p><span>(**)</span> El centro recibe bonos Isapre y pago privado.</p>
  </div>
-->
  <!--
		<div class="w-datos">
      <div class="header-datos">
        <h4>Datos de la reserva</h4>
      </div>
      <div class="body-datos">
        <div class="row">
          <div class="col-lg-5">
            <p><b>Nombre:</b> </p>
            <p><b>RUT:</b> </p>
            <p><b>Profesional:</b> </p>
            <p><b>Especialidad:</b></p>
            <p><b>Valor lista: </b> -- </p>
          </div>
          <div class="col-lg-7">
            <p><b>Previsión:</b></p>
            <p><b>Hora de la cita:</b> </p>
            <p><b>Ubicación:</b> {{ busquedaInicial.centroAtencion.nombre }} <span>(**)</span></p>
            <p><b>Dirección del centro:</b>
              {{ busquedaInicial.centroAtencion.direccion?.calle }}
              {{ busquedaInicial.centroAtencion.direccion?.numero }} -
              {{ busquedaInicial.centroAtencion.direccion?.comuna }}</p>
            <p><b>Valor convenio:</b>--</p>
          </div>
          <div class="col-lg-12">
          </div>
        </div>
      </div>
    </div>
	-->
  <div class="text-right" style="margin-top:25px">
    <button mat-raised-button class="full-btn btn-morado" (click)="reservar()">RESERVAR</button>
  </div>
</section>
