
p{font-size:16px;color:#455a64;line-height:26px;font-weight:300;margin-bottom:20px}p b{font-weight:700}
.clear{clear:both}.wow{visibility:hidden}.fadein{opacity:0}.hidden_a{opacity:0}.visible{opacity:1}.wrapper{position:relative}.wrapper.wrapper-home{padding-top:148px}.wrap{max-width:100%;width:1180px;margin:0 auto;padding:0 40px}.row.no-gutters{margin-right:0;margin-left:0}.row.no-gutters>[class*=" col-"],.row.no-gutters>[class^=col-]{padding-right:0;padding-left:0}

.contenido-anular {
  padding: 40px 0;
}
.contenido-anular .titulo{
  font-size: 2rem;
  color: #2A7DE1;
  font-weight: normal;
  margin: 0 0 2.5rem;
}
.contenido-anular .titulo i{
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .contenido-anular .titulo {
    font-size: 1.5rem;
  }
  .contenido-anular .titulo i{
    font-size: 1.2rem;
  }
}


.card-horas {
  background: #F0F7FF;
  border-radius: 16px;
  padding: 2.5rem 2.8rem;
  align-items: flex-end;
}
.card-horas .form-group{
  margin-bottom: 0;
  position: relative;
}
.card-horas .form-group .ic-cal {
  color: #2A7DE1;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.card-horas .form-group.small{
  width: 22%;
}
.card-horas .form-group label{
  display: block;
  font-weight: 600;
  color: #32588B;
  font-size: 1rem;
  margin-bottom: 5px;
}
.card-horas .form-group input{
  width: 100%;
  height: 2.6rem;
  background: #fff;
  border: 1px solid #788890;
  border-radius: 5px;
  padding: .5rem;
  color: #455A64;
}
.card-horas .form-group input.btn-azul{
  font-size: .83rem;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background: #2A7DE1;
  text-align: center;
  border: none;
  height: 2.6rem;
  text-transform: uppercase;
}

.card-horas-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-horas-bottom a.reservar-hora{
  font-size: 0.83rem;
  color: #2A7DE1;
  font-weight: bold;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  border: 2px solid #2A7DE1;
  text-transform: uppercase;
  width: 100%;
  display: block;
  padding: 14px 0px;
  margin-top: 15px;
  max-width: 200px;
}
.card-horas-bottom a.volver{
  font-size: .83rem;
  color: #2A7DE1;
  font-weight: bold;
  margin-left: -2.8rem;
}
.card-horas-bottom a.volver img {
  width: 1rem;
  height: auto;
}

@media (max-width: 991px) { 
  .card-horas {
    flex-direction: column;
  }
  .card-horas .form-group {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .card-horas .form-group.small {
    width: 100%;
  }

  .card-horas-bottom {}
  .card-horas-bottom a.reservar-hora {
   /* width: 200px;*/
  }
}

@media (max-width: 768px) {
  .card-horas {
    padding: 20px;
  }
  .card-horas-bottom {
    padding: 20px 0 0;
  }
  .card-horas-bottom a.volver{
    margin-left: 0;
  }
 }
@media (max-width: 550px) {
  .wrap {
    padding: 0 20px;
  }
  .card-horas-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .card-horas-bottom a.reservar-hora {
    width: 100%;
    margin-bottom: 15px;
  }
 }



/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | https://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-prev-year,
.pika-next-year,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.pika-prev-year,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.pika-next-year,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button,
.has-event .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.has-event .pika-button {
    background: #005da9;
    box-shadow: inset 0 1px 3px #0076c9;
}

.is-disabled .pika-button,
.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.is-outside-current-month .pika-button {
    color: #999;
    opacity: .3;
}

.is-selection-disabled {
    pointer-events: none;
    cursor: default;
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
    cursor: help;
}

.cloader{
  position: relative;
}
.container-loader{
  position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 100;
}

.container-loader .cmatspin{
  position: fixed;
  left:50%;
  top:50%;
  margin-left:-80px;
  margin-top:-80px;
  padding: 50px;
  background: rgba(255,255,255,0.4);
}

.readQuery{
    background:#fff !important;
}

::ng-deep .reservaStepper .mat-tab-labels { display: none !important}
::ng-deep  .reservaStepper .mat-tab-nav-bar,  ::ng-deep .reservaStepper .mat-tab-header{border:none !important}
.header-reserva{margin-bottom: 25px;}
.w-reservas{margin-bottom: 0px;}
.cus-pad{ padding: 5px 25px !important;}
.fl-right{float: right;}
.txttil{border-bottom: 1px solid #ccc; padding-bottom: 20px; }

.centerBtn{
    margin: 20px auto;
    display: block;
}

.leftBtn{
  float:left;
}

.mrd{
  background:#802e87;
  margin-left: 20px;
  color: #fff;
}

.mrd:hover{
  background: #fff;
  color:#802e87;
}