<div class="day-header" [ngClass]="{'fixed' : dayWeekFixed }">
    <div [ngClass]="{'wrap' : dayWeekFixed}">
        <div class="row">
            <div class="col-lg-6">
    
            </div>
            <div class="col-lg-6">
                <div class="search-ref">
                    <button mat-icon-button matTooltip="MES ANTERIOR" matTooltipPosition="above" class="btn-nav" (click)="move('prev')" *ngIf="contadorMeses > 1">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <b class="month">{{ datedisplay }}</b>
                    <button mat-icon-button matTooltip="MES SIGUIENTE" matTooltipPosition="above" class="btn-nav right" (click)="move('next')" *ngIf="contadorMeses < 13">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
                <div class="dayweek" fxLayout="row" fxLayoutGap="1px">
                    <div fxFlex="14.27%">L</div>
                    <div fxFlex="14.27%">M</div>
                    <div fxFlex="14.27%">M</div>
                    <div fxFlex="14.27%">J</div>
                    <div fxFlex="14.27%">V</div>
                    <div fxFlex="14.27%">S</div>
                    <div fxFlex="14.27%">D</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height:130px" *ngIf="dayWeekFixed"></div>