<div class="day-header" [ngClass]="{'fixed' : dayWeekFixed }" *ngIf="typeDateWeek !== 'not-results'">
    <div [ngClass]="{'wrap' : dayWeekFixed}">
        <div class="row">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-6">
                <div class="search-ref">
                    <button mat-icon-button matTooltip="MES ANTERIOR" matTooltipPosition="above" class="btn-nav"
                        (click)="move('prev')" *ngIf="contadorMeses > 0 && !disableNavigation">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <b class="month">{{ datedisplay }}</b>
                    <button mat-icon-button matTooltip="MES SIGUIENTE" matTooltipPosition="above" class="btn-nav right"
                        (click)="move('next')" *ngIf="contadorMeses < 13 && !disableNavigation">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
                <div class="dayweek" fxLayout="row" fxLayoutGap="1px">
                    <div fxFlex="14.27%">L</div>
                    <div fxFlex="14.27%">M</div>
                    <div fxFlex="14.27%">M</div>
                    <div fxFlex="14.27%">J</div>
                    <div fxFlex="14.27%">V</div>
                    <div fxFlex="14.27%">S</div>
                    <div fxFlex="14.27%">D</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height:130px" *ngIf="dayWeekFixed"></div>
<div class="day-header not-results" *ngIf="typeDateWeek === 'not-results'">
        <div class="centered">
            <div class="search-ref">
                <button mat-icon-button matTooltip="MES ANTERIOR" matTooltipPosition="below" class="btn-nav" [ngClass]="{'disabled' : contadorMeses == 0 || disableNavigation }"
                    (click)="move('prev')" >
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    <span class="txt-month" [innerHTML]="dateBefore"></span>
                </button>
                <b class="month">{{ datedisplay }}</b>
                <button mat-icon-button matTooltip="MES SIGUIENTE" matTooltipPosition="below" class="btn-nav right" [ngClass]="{'disabled' : contadorMeses == 12 || disableNavigation}"
                    (click)="move('next')">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    <span class="txt-month" [innerHTML]="dateNext"></span>
                </button>
            </div>
        </div>

</div>