.contenido-anular {
    padding: 40px 0;
  }
  .contenido-anular .titulo{
    font-size: 2rem;
    color: #2A7DE1;
    font-weight: normal;
    margin: 0 0 2.5rem;
  }
  .contenido-anular .titulo i{
    font-size: 1.8rem;
  }
  @media (max-width: 768px) {
    .contenido-anular .titulo {
      font-size: 1.5rem;
    }
    .contenido-anular .titulo i{
      font-size: 1.2rem;
    }
  }
  
  .card-mensaje {
      background: #F0F7FF;
      border-radius: 6px;
      padding: 3rem 2rem;
      text-align: center;
  }
  .card-mensaje img{
    width: 6.25rem;
    height: auto;
  }
  .card-mensaje h2{
    font-size: 1.66rem;
    font-weight: 600;
    margin: 2rem 0 0;
  }
  
  
  .card-mensaje.card-mensaje--success h2{ color: #007EE5;}
  .card-mensaje.card-mensaje--danger h2{ color: #D5070F; }
  
  @media (max-width: 550px) {
    .card-mensaje h2{
      font-size: 1.2rem;
    }
    .card-mensaje img{
      width: 4rem;
      height: auto;
    }
  }
  .card-horas-bottom{
    padding: 1rem 2.8rem;
    text-transform: uppercase;
  }
  
  .card-horas-bottom a.volver{
    font-size: .83rem;
    color: #2A7DE1;
    font-weight: bold;
    margin-left: -2.8rem;
  }
  .card-horas-bottom a.volver img {
    width: 1rem;
    height: auto;
  }
  
  .botones {
    display: flex;
  }
  .btn-blanco {
    font-size: .66rem;
    color: #2A7DE1;
    text-align: center;
    border: 2px solid #2A7DE1;
    display: inline-block;
    padding: .3rem 1rem .35rem;
    font-weight: bold;
    border-radius: 5px;
  }
  .btn-azul {
    font-size: .66rem;
    color: #fff;
    text-align: center;
    border: 2px solid #2A7DE1;
    background: #2A7DE1;
    display: inline-block;
    padding: .25rem 1.2rem .3rem;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 1rem;
  }
  
  @media (max-width: 991px) { 
  
    .card-horas-bottom {}
    .card-horas-bottom a.reservar-hora {
      width: 200px;
      min-width: 200px;
    }
  
    .w-table {
      width: 100%;
      overflow-x: scroll;
    }
  }
  
  @media (max-width: 768px) {
  
    .card-horas-bottom {
      padding: 20px 0 0;
    }
    .card-horas-bottom a.volver{
      margin-left: 0;
    }
    .datos-paciente {
      flex-direction: column;
    }
    .datos-paciente .item {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #B9C6D7;
    }
   }
  @media (max-width: 550px) {
    .wrap {
      padding: 0 20px;
    }
   }

   .textcard{
    max-width: 640px;
    margin: 60px auto 0px auto !important;
   }